<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>750</integer>
	<key>capHeight</key>
	<integer>710</integer>
	<key>descender</key>
	<integer>-250</integer>
	<key>familyName</key>
	<string>Roboto Serif Text</string>
	<key>guidelines</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>identifier</key>
			<string>3Cn6EtYC2Q</string>
			<key>name</key>
			<string>LC accents</string>
			<key>x</key>
			<integer>756</integer>
			<key>y</key>
			<integer>508</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>identifier</key>
			<string>9mm2qvhiwP</string>
			<key>name</key>
			<string>UC accents</string>
			<key>x</key>
			<integer>349</integer>
			<key>y</key>
			<integer>710</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>identifier</key>
			<string>9g7kyGYQ81</string>
			<key>x</key>
			<integer>256</integer>
			<key>y</key>
			<integer>900</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>identifier</key>
			<string>tWLXEFrScR</string>
			<key>x</key>
			<integer>509</integer>
			<key>y</key>
			<integer>796</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>identifier</key>
			<string>46iXgcFSOD</string>
			<key>x</key>
			<integer>-87</integer>
			<key>y</key>
			<integer>-151</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>identifier</key>
			<string>7FluArWiOq</string>
			<key>x</key>
			<integer>84</integer>
			<key>y</key>
			<integer>715</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>identifier</key>
			<string>ytTHUfr4zR</string>
			<key>x</key>
			<integer>465</integer>
			<key>y</key>
			<integer>545</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>identifier</key>
			<string>3IWLfwpM8q</string>
			<key>x</key>
			<integer>-15</integer>
			<key>y</key>
			<integer>735</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>identifier</key>
			<string>zGIQQpSFTv</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>341</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>identifier</key>
			<string>VJS7o4LVJA</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>-128</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>identifier</key>
			<string>ryLwcDdjIH</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>633</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>identifier</key>
			<string>5VGMPIb5GC</string>
			<key>x</key>
			<integer>474</integer>
			<key>y</key>
			<integer>471</integer>
		</dict>
	</array>
	<key>italicAngle</key>
	<integer>0</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>500</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array/>
	<key>postscriptFamilyBlues</key>
	<array/>
	<key>postscriptFamilyOtherBlues</key>
	<array/>
	<key>postscriptOtherBlues</key>
	<array/>
	<key>postscriptStemSnapH</key>
	<array/>
	<key>postscriptStemSnapV</key>
	<array/>
	<key>styleName</key>
	<string>Regular G1</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>xHeight</key>
	<integer>508</integer>
</dict>
</plist>
