<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>830</integer>
    <key>descender</key>
    <integer>-250</integer>
    <key>familyName</key>
    <string>Roboto Serif Micro</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>MJay2hKIA5</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>649</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>6a08nuUbOZ</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>639</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>3HOn7pyT5H</string>
        <key>x</key>
        <integer>267</integer>
        <key>y</key>
        <integer>230</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>ilI6vclpjU</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>790</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>ABt9XyLb12</string>
        <key>x</key>
        <integer>330</integer>
        <key>y</key>
        <integer>598</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>yGWRXTG7b0</string>
        <key>x</key>
        <integer>475</integer>
        <key>y</key>
        <integer>730</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>dF7L7CipJ1</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>-63</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>500</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>Super</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>571</integer>
  </dict>
</plist>
