<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>ascending</key>
        <array>
          <string>space</string>
          <string>A</string>
          <string>B</string>
          <string>C</string>
          <string>D</string>
          <string>E</string>
          <string>F</string>
          <string>G</string>
          <string>H</string>
          <string>I</string>
          <string>J</string>
          <string>K</string>
          <string>L</string>
          <string>M</string>
          <string>N</string>
          <string>O</string>
          <string>P</string>
          <string>Q</string>
          <string>R</string>
          <string>S</string>
          <string>T</string>
          <string>U</string>
          <string>V</string>
          <string>W</string>
          <string>X</string>
          <string>Y</string>
          <string>Z</string>
          <string>a</string>
          <string>b</string>
          <string>c</string>
          <string>d</string>
          <string>e</string>
          <string>f</string>
          <string>g</string>
          <string>h</string>
          <string>i</string>
          <string>j</string>
          <string>k</string>
          <string>l</string>
          <string>m</string>
          <string>n</string>
          <string>o</string>
          <string>p</string>
          <string>q</string>
          <string>r</string>
          <string>s</string>
          <string>t</string>
          <string>u</string>
          <string>v</string>
          <string>w</string>
          <string>x</string>
          <string>y</string>
          <string>z</string>
          <string>zero</string>
          <string>one</string>
          <string>two</string>
          <string>three</string>
          <string>four</string>
          <string>five</string>
          <string>six</string>
          <string>seven</string>
          <string>eight</string>
          <string>nine</string>
          <string>underscore</string>
          <string>hyphen</string>
          <string>parenleft</string>
          <string>parenright</string>
          <string>bracketleft</string>
          <string>bracketright</string>
          <string>braceleft</string>
          <string>braceright</string>
          <string>numbersign</string>
          <string>percent</string>
          <string>quotesingle</string>
          <string>quotedbl</string>
          <string>asterisk</string>
          <string>period</string>
          <string>comma</string>
          <string>colon</string>
          <string>semicolon</string>
          <string>exclam</string>
          <string>question</string>
          <string>slash</string>
          <string>backslash</string>
          <string>bar</string>
          <string>at</string>
          <string>ampersand</string>
          <string>plus</string>
          <string>equal</string>
          <string>less</string>
          <string>greater</string>
          <string>dollar</string>
          <string>asciicircum</string>
          <string>asciitilde</string>
          <string>grave</string>
        </array>
        <key>type</key>
        <string>glyphList</string>
      </dict>
    </array>
    <key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.layerName</key>
    <string>foreground</string>
    <key>com.typemytype.robofont.compileSettings.path</key>
    <string>/Users/kompjuter/Desktop/RobotoSerifTextWide-Regular 05h.otf</string>
    <key>com.typemytype.robofont.guideline.magnetic.CitK5VTNnB</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.DdXAYwYbED</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.Ee0bpNiXA2</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.LXW1ugCmcb</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.alveesBjrD</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.g0q7u9zxqj</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.mC5lOpnXl0</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.showMeasurements.CitK5VTNnB</key>
    <true/>
    <key>com.typemytype.robofont.guideline.showMeasurements.DdXAYwYbED</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.Ee0bpNiXA2</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.LXW1ugCmcb</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.alveesBjrD</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.g0q7u9zxqj</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.mC5lOpnXl0</key>
    <false/>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>public.glyphOrder</key>
    <array>
      <string>space</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>underscore</string>
      <string>hyphen</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>numbersign</string>
      <string>percent</string>
      <string>quotesingle</string>
      <string>quotedbl</string>
      <string>asterisk</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>exclam</string>
      <string>question</string>
      <string>slash</string>
      <string>backslash</string>
      <string>bar</string>
      <string>at</string>
      <string>ampersand</string>
      <string>plus</string>
      <string>equal</string>
      <string>less</string>
      <string>greater</string>
      <string>dollar</string>
      <string>asciicircum</string>
      <string>asciitilde</string>
      <string>grave</string>
      <string>E.alt</string>
      <string>F.alt</string>
      <string>f_b</string>
      <string>f_f</string>
      <string>f_f_b</string>
      <string>f_f_h</string>
      <string>f_f_i</string>
      <string>f_f_j</string>
      <string>f_f_k</string>
      <string>f_f_l</string>
      <string>f_h</string>
      <string>f_i</string>
      <string>f_j</string>
      <string>f_k</string>
      <string>f_l</string>
      <string>f.alt</string>
      <string>f_f.alt</string>
      <string>f_f_b.alt</string>
      <string>f_f_h.alt</string>
      <string>f_f_i.alt</string>
      <string>f_f_j.alt</string>
      <string>f_f_k.alt</string>
      <string>f_f_l.alt</string>
      <string>f_j.alt</string>
      <string>g.alt</string>
      <string>f.short</string>
      <string>f_f.short</string>
      <string>zero.den</string>
      <string>one.den</string>
      <string>two.den</string>
      <string>three.den</string>
      <string>four.den</string>
      <string>five.den</string>
      <string>six.den</string>
      <string>seven.den</string>
      <string>eight.den</string>
      <string>nine.den</string>
      <string>zero.linprop</string>
      <string>one.linprop</string>
      <string>two.linprop</string>
      <string>three.linprop</string>
      <string>four.linprop</string>
      <string>five.linprop</string>
      <string>six.linprop</string>
      <string>seven.linprop</string>
      <string>eight.linprop</string>
      <string>nine.linprop</string>
      <string>one.lintab</string>
      <string>two.lintab</string>
      <string>three.lintab</string>
      <string>four.lintab</string>
      <string>five.lintab</string>
      <string>six.lintab</string>
      <string>zero.midprop</string>
      <string>one.midprop</string>
      <string>two.midprop</string>
      <string>three.midprop</string>
      <string>four.midprop</string>
      <string>five.midprop</string>
      <string>six.midprop</string>
      <string>seven.midprop</string>
      <string>eight.midprop</string>
      <string>nine.midprop</string>
      <string>zero.num</string>
      <string>one.num</string>
      <string>two.num</string>
      <string>three.num</string>
      <string>four.num</string>
      <string>five.num</string>
      <string>six.num</string>
      <string>seven.num</string>
      <string>eight.num</string>
      <string>nine.num</string>
      <string>zero.oldprop</string>
      <string>one.oldprop</string>
      <string>two.oldprop</string>
      <string>three.oldprop</string>
      <string>four.oldprop</string>
      <string>five.oldprop</string>
      <string>six.oldprop</string>
      <string>seven.oldprop</string>
      <string>eight.oldprop</string>
      <string>nine.oldprop</string>
      <string>zero.propslash</string>
      <string>zero.sinf</string>
      <string>one.sinf</string>
      <string>two.sinf</string>
      <string>three.sinf</string>
      <string>four.sinf</string>
      <string>five.sinf</string>
      <string>six.sinf</string>
      <string>seven.sinf</string>
      <string>eight.sinf</string>
      <string>nine.sinf</string>
      <string>zero.slash</string>
      <string>zero.slashlinprop</string>
      <string>zero.slashold</string>
      <string>zero.slasholdprop</string>
      <string>zero.sub</string>
      <string>one.sub</string>
      <string>two.sub</string>
      <string>three.sub</string>
      <string>four.sub</string>
      <string>five.sub</string>
      <string>six.sub</string>
      <string>seven.sub</string>
      <string>eight.sub</string>
      <string>nine.sub</string>
      <string>zero.sup</string>
      <string>one.sup</string>
      <string>two.sup</string>
      <string>three.sup</string>
      <string>four.sup</string>
      <string>five.sup</string>
      <string>six.sup</string>
      <string>seven.sup</string>
      <string>eight.sup</string>
      <string>nine.sup</string>
      <string>hyphen.uc</string>
      <string>parenleft.uc</string>
      <string>bracketleft.uc</string>
      <string>braceleft.uc</string>
      <string>parenright.uc</string>
      <string>bracketright.uc</string>
      <string>braceright.uc</string>
      <string>comma.tab</string>
      <string>period.tab</string>
      <string>colon.tab</string>
      <string>slash.uc</string>
      <string>at.uc</string>
      <string>backslash.uc</string>
      <string>plus.lin</string>
      <string>less.lin</string>
      <string>equal.lin</string>
      <string>greater.lin</string>
      <string>plus.sub</string>
      <string>plus.sup</string>
      <string>bar.uc</string>
      <string>dollar.alt</string>
      <string>dollar.altprop</string>
      <string>dollar.proportional</string>
      <string>grave.uc</string>
      <string>AE</string>
      <string>Aogonek</string>
      <string>Delta</string>
      <string>Eng</string>
      <string>Euro</string>
      <string>Germandbls</string>
      <string>Hbar</string>
      <string>IJacute</string>
      <string>Lslash</string>
      <string>OE</string>
      <string>Ohorn</string>
      <string>Omega</string>
      <string>Oogonek</string>
      <string>Oslash</string>
      <string>Pcircle</string>
      <string>SS</string>
      <string>Schwa</string>
      <string>Thorn</string>
      <string>Uhorn</string>
      <string>Uogonek</string>
      <string>acute</string>
      <string>acute_dotaccent</string>
      <string>acutecomb</string>
      <string>acutedotaccent</string>
      <string>ae</string>
      <string>apostrophemod</string>
      <string>approxequal</string>
      <string>arrowdown</string>
      <string>arrowdownleft</string>
      <string>arrowdownright</string>
      <string>arrowleft</string>
      <string>arrowright</string>
      <string>arrowup</string>
      <string>arrowupleft</string>
      <string>arrowupright</string>
      <string>baht</string>
      <string>blackcircle</string>
      <string>blackdiamond</string>
      <string>blackdownpointingtriangle</string>
      <string>blackleftpointingtriangle</string>
      <string>blackrightpointingtriangle</string>
      <string>blacksquare</string>
      <string>blacktriangle</string>
      <string>blackuppointingtriangle</string>
      <string>breve</string>
      <string>breve_acute</string>
      <string>breve_grave</string>
      <string>breve_hook</string>
      <string>breve_tilde</string>
      <string>brevebelow</string>
      <string>brevebelowcomb</string>
      <string>brevecomb</string>
      <string>breveinverted</string>
      <string>breveinvertedcomb</string>
      <string>brokenbar</string>
      <string>bullet</string>
      <string>bulletoperator</string>
      <string>caron</string>
      <string>caron_dotaccent</string>
      <string>caroncomb</string>
      <string>cedi</string>
      <string>cedilla</string>
      <string>cedillacomb</string>
      <string>cent</string>
      <string>circumflex</string>
      <string>circumflex_acute</string>
      <string>circumflex_grave</string>
      <string>circumflex_hook</string>
      <string>circumflex_tilde</string>
      <string>circumflexcomb</string>
      <string>colonsign</string>
      <string>commaaccent</string>
      <string>commaaccentcomb</string>
      <string>commaturnedabovecomb</string>
      <string>commaturnedmod</string>
      <string>copyright</string>
      <string>currency</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>dblgrave</string>
      <string>dblgravecomb</string>
      <string>dcroat</string>
      <string>degree</string>
      <string>dieresis</string>
      <string>dieresis_acute</string>
      <string>dieresis_caron</string>
      <string>dieresis_macron</string>
      <string>dieresisacute</string>
      <string>dieresisbelow</string>
      <string>dieresisbelowcomb</string>
      <string>dieresiscomb</string>
      <string>divide</string>
      <string>dong</string>
      <string>dotaccent</string>
      <string>dotaccent_macron</string>
      <string>dotaccentcomb</string>
      <string>dotbelow</string>
      <string>dotbelowcomb</string>
      <string>dotlessi</string>
      <string>dotlessj</string>
      <string>doubleprimemod</string>
      <string>eightinferior</string>
      <string>eightsuperior</string>
      <string>ellipsis</string>
      <string>emptyset</string>
      <string>eng</string>
      <string>eogonek</string>
      <string>estimated</string>
      <string>eth</string>
      <string>exclamdown</string>
      <string>fi</string>
      <string>figuredash</string>
      <string>firsttonechinese</string>
      <string>fiveeighths</string>
      <string>fiveinferior</string>
      <string>fivesuperior</string>
      <string>fl</string>
      <string>florin</string>
      <string>fourinferior</string>
      <string>foursuperior</string>
      <string>fourthtonechinese</string>
      <string>fraction</string>
      <string>franc</string>
      <string>germandbls</string>
      <string>gravecomb</string>
      <string>greaterequal</string>
      <string>guarani</string>
      <string>guillemotleft</string>
      <string>guillemotright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>hbar</string>
      <string>heart</string>
      <string>heartsuitwhite</string>
      <string>hook</string>
      <string>hookabovecomb</string>
      <string>horizontalbar</string>
      <string>horn</string>
      <string>horncomb</string>
      <string>hungarumlaut</string>
      <string>hungarumlautcomb</string>
      <string>hyphentwo</string>
      <string>ijacute</string>
      <string>infinity</string>
      <string>integral</string>
      <string>kgreenlandic</string>
      <string>kip</string>
      <string>lessequal</string>
      <string>lira</string>
      <string>liraTurkish</string>
      <string>literSign</string>
      <string>litre</string>
      <string>logicalnot</string>
      <string>lozenge</string>
      <string>macron</string>
      <string>macron_acute</string>
      <string>macron_dieresis</string>
      <string>macron_grave</string>
      <string>macronbelow</string>
      <string>macronbelowcomb</string>
      <string>macroncomb</string>
      <string>manat</string>
      <string>micro</string>
      <string>minus</string>
      <string>minute</string>
      <string>mu</string>
      <string>multiply</string>
      <string>naira</string>
      <string>nineinferior</string>
      <string>ninesuperior</string>
      <string>notequal</string>
      <string>numero</string>
      <string>oe</string>
      <string>ogonek</string>
      <string>ogonekcomb</string>
      <string>ohm</string>
      <string>ohorn</string>
      <string>oneeighth</string>
      <string>onehalf</string>
      <string>oneinferior</string>
      <string>onequarter</string>
      <string>onesuperior</string>
      <string>onethird</string>
      <string>oogonek</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>oslash</string>
      <string>paragraph</string>
      <string>partialdiff</string>
      <string>periodcentered</string>
      <string>perthousand</string>
      <string>peseta</string>
      <string>peso</string>
      <string>pi</string>
      <string>plusminus</string>
      <string>primemod</string>
      <string>product</string>
      <string>questiondown</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
      <string>radical</string>
      <string>registered</string>
      <string>ring</string>
      <string>ringcomb</string>
      <string>ringhalfleft</string>
      <string>ringhalfright</string>
      <string>ruble</string>
      <string>rupeeIndian</string>
      <string>schwa</string>
      <string>second</string>
      <string>secondtonechinese</string>
      <string>section</string>
      <string>servicemark</string>
      <string>seveneighths</string>
      <string>seveninferior</string>
      <string>sevensuperior</string>
      <string>sixinferior</string>
      <string>sixsuperior</string>
      <string>softhyphen</string>
      <string>sterling</string>
      <string>summation</string>
      <string>thorn</string>
      <string>threeeighths</string>
      <string>threeinferior</string>
      <string>threequarters</string>
      <string>threesuperior</string>
      <string>tilde</string>
      <string>tilde_acute</string>
      <string>tilde_dieresis</string>
      <string>tilde_macron</string>
      <string>tildecomb</string>
      <string>trademark</string>
      <string>twoinferior</string>
      <string>twosuperior</string>
      <string>twothirds</string>
      <string>uhorn</string>
      <string>uni20B4</string>
      <string>uni20B8</string>
      <string>uni2117</string>
      <string>uni25B4</string>
      <string>uni25B5</string>
      <string>uni25B8</string>
      <string>uni25B9</string>
      <string>uni25BE</string>
      <string>uni25BF</string>
      <string>uni25C2</string>
      <string>uni25C3</string>
      <string>uni27F7</string>
      <string>verticallinelowmod</string>
      <string>verticallinemod</string>
      <string>whitecircle</string>
      <string>whitediamond</string>
      <string>whitedownpointingtriangle</string>
      <string>whiteleftpointingtriangle</string>
      <string>whiterightpointingtriangle</string>
      <string>whitesquare</string>
      <string>whitetriangle</string>
      <string>whiteuppointingtriangle</string>
      <string>won</string>
      <string>yen</string>
      <string>zeroinferior</string>
      <string>zerosuperior</string>
      <string>AE.alt</string>
      <string>caron.alt</string>
      <string>caroncomb.alt</string>
      <string>cent.alt</string>
      <string>commaaccent.alt</string>
      <string>fi.alt</string>
      <string>lira.alt</string>
      <string>sterling.alt</string>
      <string>cent.altprop</string>
      <string>lira.altprop</string>
      <string>sterling.altprop</string>
      <string>approxequal.lin</string>
      <string>divide.lin</string>
      <string>greaterequal.lin</string>
      <string>lessequal.lin</string>
      <string>logicalnot.lin</string>
      <string>minus.lin</string>
      <string>multiply.lin</string>
      <string>notequal.lin</string>
      <string>periodcentered.loclCAT</string>
      <string>periodcentered.loclCAT.uc</string>
      <string>acute.pl</string>
      <string>Euro.proportional</string>
      <string>baht.proportional</string>
      <string>cedi.proportional</string>
      <string>cent.proportional</string>
      <string>colonsign.proportional</string>
      <string>currency.proportional</string>
      <string>dong.proportional</string>
      <string>florin.proportional</string>
      <string>franc.proportional</string>
      <string>guarani.proportional</string>
      <string>kip.proportional</string>
      <string>lira.proportional</string>
      <string>liraTurkish.proportional</string>
      <string>manat.proportional</string>
      <string>naira.proportional</string>
      <string>peseta.proportional</string>
      <string>peso.proportional</string>
      <string>ruble.proportional</string>
      <string>rupeeIndian.proportional</string>
      <string>sterling.proportional</string>
      <string>uni20B4.proportional</string>
      <string>uni20B8.proportional</string>
      <string>won.proportional</string>
      <string>yen.proportional</string>
      <string>minus.sub</string>
      <string>minus.sup</string>
      <string>acute.uc</string>
      <string>acute_dotaccent.uc</string>
      <string>breve.uc</string>
      <string>breve_acute.uc</string>
      <string>breve_grave.uc</string>
      <string>breve_hook.uc</string>
      <string>breve_tilde.uc</string>
      <string>breveinverted.uc</string>
      <string>brokenbar.uc</string>
      <string>caron.uc</string>
      <string>caron_dotaccent.uc</string>
      <string>circumflex.uc</string>
      <string>circumflex_acute.uc</string>
      <string>circumflex_grave.uc</string>
      <string>circumflex_hook.uc</string>
      <string>circumflex_tilde.uc</string>
      <string>dblgrave.uc</string>
      <string>dieresis.uc</string>
      <string>dieresis_acute.uc</string>
      <string>dieresis_caron.uc</string>
      <string>dieresis_macron.uc</string>
      <string>dotaccent.uc</string>
      <string>dotaccent_macron.uc</string>
      <string>emdash.uc</string>
      <string>endash.uc</string>
      <string>exclamdown.uc</string>
      <string>guillemotleft.uc</string>
      <string>guillemotright.uc</string>
      <string>guilsinglleft.uc</string>
      <string>guilsinglright.uc</string>
      <string>hook.uc</string>
      <string>hungarumlaut.uc</string>
      <string>macron.uc</string>
      <string>macron_acute.uc</string>
      <string>macron_dieresis.uc</string>
      <string>macron_grave.uc</string>
      <string>periodcentered.uc</string>
      <string>questiondown.uc</string>
      <string>ring.uc</string>
      <string>tilde.uc</string>
      <string>tilde_acute.uc</string>
      <string>tilde_dieresis.uc</string>
      <string>tilde_macron.uc</string>
      <string>acute.ucpl</string>
    </array>
  </dict>
</plist>
