<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>ascending</key>
        <array>
          <string>space</string>
          <string>A</string>
          <string>B</string>
          <string>C</string>
          <string>D</string>
          <string>E</string>
          <string>E.alt</string>
          <string>F</string>
          <string>F.alt</string>
          <string>G</string>
          <string>H</string>
          <string>I</string>
          <string>J</string>
          <string>K</string>
          <string>L</string>
          <string>M</string>
          <string>N</string>
          <string>O</string>
          <string>P</string>
          <string>Q</string>
          <string>R</string>
          <string>S</string>
          <string>T</string>
          <string>U</string>
          <string>V</string>
          <string>W</string>
          <string>X</string>
          <string>Y</string>
          <string>Z</string>
          <string>a</string>
          <string>b</string>
          <string>c</string>
          <string>d</string>
          <string>e</string>
          <string>f</string>
          <string>f.alt</string>
          <string>f.short</string>
          <string>g</string>
          <string>g.alt</string>
          <string>h</string>
          <string>i</string>
          <string>j</string>
          <string>k</string>
          <string>l</string>
          <string>m</string>
          <string>n</string>
          <string>o</string>
          <string>p</string>
          <string>q</string>
          <string>r</string>
          <string>s</string>
          <string>t</string>
          <string>u</string>
          <string>v</string>
          <string>w</string>
          <string>x</string>
          <string>y</string>
          <string>z</string>
          <string>ampersand</string>
          <string>question</string>
          <string>exclam</string>
          <string>questiondown</string>
          <string>exclamdown</string>
          <string>period</string>
          <string>comma</string>
          <string>colon</string>
          <string>semicolon</string>
          <string>ellipsis</string>
          <string>quotedblleft</string>
          <string>quotedblright</string>
          <string>quoteleft</string>
          <string>quoteright</string>
          <string>commaturnedmod</string>
          <string>apostrophemod</string>
          <string>quotedblbase</string>
          <string>quotesinglbase</string>
          <string>guillemotleft</string>
          <string>guillemotright</string>
          <string>guilsinglleft</string>
          <string>guilsinglright</string>
          <string>parenleft</string>
          <string>parenright</string>
          <string>bracketleft</string>
          <string>bracketright</string>
          <string>braceleft</string>
          <string>braceright</string>
          <string>slash</string>
          <string>backslash</string>
          <string>bar</string>
          <string>brokenbar</string>
          <string>hyphen</string>
          <string>hyphentwo</string>
          <string>softhyphen</string>
          <string>endash</string>
          <string>emdash</string>
          <string>underscore</string>
          <string>horizontalbar</string>
          <string>periodcentered</string>
          <string>periodcentered.loclCAT</string>
          <string>bullet</string>
          <string>bulletoperator</string>
          <string>questiondown.uc</string>
          <string>exclamdown.uc</string>
          <string>guillemotleft.uc</string>
          <string>guillemotright.uc</string>
          <string>guilsinglleft.uc</string>
          <string>guilsinglright.uc</string>
          <string>parenleft.uc</string>
          <string>parenright.uc</string>
          <string>bracketleft.uc</string>
          <string>bracketright.uc</string>
          <string>braceleft.uc</string>
          <string>braceright.uc</string>
          <string>slash.uc</string>
          <string>backslash.uc</string>
          <string>bar.uc</string>
          <string>brokenbar.uc</string>
          <string>hyphen.uc</string>
          <string>endash.uc</string>
          <string>emdash.uc</string>
          <string>periodcentered.uc</string>
          <string>periodcentered.loclCAT.uc</string>
          <string>zero.slash</string>
          <string>zero.zero</string>
          <string>zero</string>
          <string>one</string>
          <string>two</string>
          <string>three</string>
          <string>four</string>
          <string>five</string>
          <string>six</string>
          <string>seven</string>
          <string>eight</string>
          <string>nine</string>
          <string>zero.propslash</string>
          <string>zero.midprop</string>
          <string>one.midprop</string>
          <string>two.midprop</string>
          <string>three.midprop</string>
          <string>four.midprop</string>
          <string>five.midprop</string>
          <string>six.midprop</string>
          <string>seven.midprop</string>
          <string>eight.midprop</string>
          <string>nine.midprop</string>
          <string>zero.slashlin</string>
          <string>zero.lintab</string>
          <string>one.lintab</string>
          <string>two.lintab</string>
          <string>three.lintab</string>
          <string>four.lintab</string>
          <string>five.lintab</string>
          <string>six.lintab</string>
          <string>seven.lintab</string>
          <string>eight.lintab</string>
          <string>nine.lintab</string>
          <string>zero.slashlinprop</string>
          <string>zero.linprop</string>
          <string>one.linprop</string>
          <string>two.linprop</string>
          <string>three.linprop</string>
          <string>four.linprop</string>
          <string>five.linprop</string>
          <string>six.linprop</string>
          <string>seven.linprop</string>
          <string>eight.linprop</string>
          <string>nine.linprop</string>
          <string>zero.slashold</string>
          <string>zero.oldtab</string>
          <string>one.oldtab</string>
          <string>two.oldtab</string>
          <string>three.oldtab</string>
          <string>four.oldtab</string>
          <string>five.oldtab</string>
          <string>six.oldtab</string>
          <string>seven.oldtab</string>
          <string>eight.oldtab</string>
          <string>nine.oldtab</string>
          <string>zero.slasholdprop</string>
          <string>zero.oldprop</string>
          <string>one.oldprop</string>
          <string>two.oldprop</string>
          <string>three.oldprop</string>
          <string>four.oldprop</string>
          <string>five.oldprop</string>
          <string>six.oldprop</string>
          <string>seven.oldprop</string>
          <string>eight.oldprop</string>
          <string>nine.oldprop</string>
          <string>dollar</string>
          <string>dollar.alt</string>
          <string>sterling</string>
          <string>sterling.alt</string>
          <string>lira</string>
          <string>lira.alt</string>
          <string>yen</string>
          <string>Euro</string>
          <string>naira</string>
          <string>won</string>
          <string>kip</string>
          <string>franc</string>
          <string>peso</string>
          <string>ruble</string>
          <string>uni20B4</string>
          <string>liraTurkish</string>
          <string>rupeeIndian</string>
          <string>thai:baht</string>
          <string>guarani</string>
          <string>colonmonetary</string>
          <string>cedi</string>
          <string>peseta</string>
          <string>uni20B8</string>
          <string>dong</string>
          <string>cent</string>
          <string>cent.alt</string>
          <string>florin</string>
          <string>manat</string>
          <string>currency</string>
          <string>dollar.proportional</string>
          <string>dollar.altprop</string>
          <string>sterling.proportional</string>
          <string>sterling.altprop</string>
          <string>lira.proportional</string>
          <string>lira.altprop</string>
          <string>yen.proportional</string>
          <string>Euro.proportional</string>
          <string>naira.proportional</string>
          <string>won.proportional</string>
          <string>kip.proportional</string>
          <string>franc.proportional</string>
          <string>peso.proportional</string>
          <string>ruble.proportional</string>
          <string>uni20B4.proportional</string>
          <string>liraTurkish.proportional</string>
          <string>rupeeIndian.proportional</string>
          <string>thai:baht.proportional</string>
          <string>guarani.proportional</string>
          <string>colonmonetary.proportional</string>
          <string>cedi.proportional</string>
          <string>peseta.proportional</string>
          <string>uni20B8.proportional</string>
          <string>dong.proportional</string>
          <string>cent.proportional</string>
          <string>cent.altprop</string>
          <string>florin.proportional</string>
          <string>manat.proportional</string>
          <string>currency.proportional</string>
        </array>
        <key>type</key>
        <string>glyphList</string>
      </dict>
    </array>
    <key>com.typemytype.robofont.compileSettings.autohint</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.checkOutlines</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.decompose</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.generateFormat</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.releaseMode</key>
    <false/>
    <key>com.typemytype.robofont.guideline.magnetic.o4udFSSd5R</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.showMeasurements.o4udFSSd5R</key>
    <true/>
    <key>com.typemytype.robofont.italicSlantOffset</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
    <integer>1</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>space</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>E.alt</string>
      <string>F</string>
      <string>F.alt</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>f.alt</string>
      <string>f.short</string>
      <string>g</string>
      <string>g.alt</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>ampersand</string>
      <string>question</string>
      <string>exclam</string>
      <string>questiondown</string>
      <string>exclamdown</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>commaturnedmod</string>
      <string>apostrophemod</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
      <string>guillemotleft</string>
      <string>guillemotright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>slash</string>
      <string>backslash</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>hyphen</string>
      <string>hyphentwo</string>
      <string>softhyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>underscore</string>
      <string>horizontalbar</string>
      <string>periodcentered</string>
      <string>periodcentered.loclCAT</string>
      <string>bullet</string>
      <string>bulletoperator</string>
      <string>questiondown.uc</string>
      <string>exclamdown.uc</string>
      <string>guillemotleft.uc</string>
      <string>guillemotright.uc</string>
      <string>guilsinglleft.uc</string>
      <string>guilsinglright.uc</string>
      <string>parenleft.uc</string>
      <string>parenright.uc</string>
      <string>bracketleft.uc</string>
      <string>bracketright.uc</string>
      <string>braceleft.uc</string>
      <string>braceright.uc</string>
      <string>slash.uc</string>
      <string>backslash.uc</string>
      <string>bar.uc</string>
      <string>brokenbar.uc</string>
      <string>hyphen.uc</string>
      <string>endash.uc</string>
      <string>emdash.uc</string>
      <string>periodcentered.uc</string>
      <string>periodcentered.loclCAT.uc</string>
      <string>zero.slash</string>
      <string>zero.zero</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>zero.propslash</string>
      <string>zero.midprop</string>
      <string>one.midprop</string>
      <string>two.midprop</string>
      <string>three.midprop</string>
      <string>four.midprop</string>
      <string>five.midprop</string>
      <string>six.midprop</string>
      <string>seven.midprop</string>
      <string>eight.midprop</string>
      <string>nine.midprop</string>
      <string>zero.slashlin</string>
      <string>zero.lintab</string>
      <string>one.lintab</string>
      <string>two.lintab</string>
      <string>three.lintab</string>
      <string>four.lintab</string>
      <string>five.lintab</string>
      <string>six.lintab</string>
      <string>seven.lintab</string>
      <string>eight.lintab</string>
      <string>nine.lintab</string>
      <string>zero.slashlinprop</string>
      <string>zero.linprop</string>
      <string>one.linprop</string>
      <string>two.linprop</string>
      <string>three.linprop</string>
      <string>four.linprop</string>
      <string>five.linprop</string>
      <string>six.linprop</string>
      <string>seven.linprop</string>
      <string>eight.linprop</string>
      <string>nine.linprop</string>
      <string>zero.slashold</string>
      <string>zero.oldtab</string>
      <string>one.oldtab</string>
      <string>two.oldtab</string>
      <string>three.oldtab</string>
      <string>four.oldtab</string>
      <string>five.oldtab</string>
      <string>six.oldtab</string>
      <string>seven.oldtab</string>
      <string>eight.oldtab</string>
      <string>nine.oldtab</string>
      <string>zero.slasholdprop</string>
      <string>zero.oldprop</string>
      <string>one.oldprop</string>
      <string>two.oldprop</string>
      <string>three.oldprop</string>
      <string>four.oldprop</string>
      <string>five.oldprop</string>
      <string>six.oldprop</string>
      <string>seven.oldprop</string>
      <string>eight.oldprop</string>
      <string>nine.oldprop</string>
      <string>dollar</string>
      <string>dollar.alt</string>
      <string>sterling</string>
      <string>sterling.alt</string>
      <string>lira</string>
      <string>lira.alt</string>
      <string>yen</string>
      <string>Euro</string>
      <string>naira</string>
      <string>won</string>
      <string>kip</string>
      <string>franc</string>
      <string>peso</string>
      <string>ruble</string>
      <string>uni20B4</string>
      <string>liraTurkish</string>
      <string>rupeeIndian</string>
      <string>thai:baht</string>
      <string>guarani</string>
      <string>colonmonetary</string>
      <string>cedi</string>
      <string>peseta</string>
      <string>uni20B8</string>
      <string>dong</string>
      <string>cent</string>
      <string>cent.alt</string>
      <string>florin</string>
      <string>manat</string>
      <string>currency</string>
      <string>dollar.proportional</string>
      <string>dollar.altprop</string>
      <string>sterling.proportional</string>
      <string>sterling.altprop</string>
      <string>lira.proportional</string>
      <string>lira.altprop</string>
      <string>yen.proportional</string>
      <string>Euro.proportional</string>
      <string>naira.proportional</string>
      <string>won.proportional</string>
      <string>kip.proportional</string>
      <string>franc.proportional</string>
      <string>peso.proportional</string>
      <string>ruble.proportional</string>
      <string>uni20B4.proportional</string>
      <string>liraTurkish.proportional</string>
      <string>rupeeIndian.proportional</string>
      <string>thai:baht.proportional</string>
      <string>guarani.proportional</string>
      <string>colonmonetary.proportional</string>
      <string>cedi.proportional</string>
      <string>peseta.proportional</string>
      <string>uni20B8.proportional</string>
      <string>dong.proportional</string>
      <string>cent.proportional</string>
      <string>cent.altprop</string>
      <string>florin.proportional</string>
      <string>manat.proportional</string>
      <string>currency.proportional</string>
    </array>
  </dict>
</plist>
