<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>710</integer>
    <key>descender</key>
    <integer>-223</integer>
    <key>familyName</key>
    <string>Roboto Serif Display Cond</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>dBosja9arN</string>
        <key>x</key>
        <integer>175</integer>
        <key>y</key>
        <integer>528</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>hlxU9Fc9D6</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>513</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>JwJtIijMDu</string>
        <key>x</key>
        <integer>260</integer>
        <key>y</key>
        <integer>6</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>lfSI1p4mtX</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <real>-10.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>F7RNX3ENb0</string>
        <key>x</key>
        <integer>232</integer>
        <key>y</key>
        <integer>720</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>HnPdzYfiGD</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>704</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>5HDGAzcXZM</string>
        <key>x</key>
        <integer>47</integer>
        <key>y</key>
        <integer>303</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>NlA5swJQIw</string>
        <key>x</key>
        <integer>438</integer>
        <key>y</key>
        <integer>620</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>dKgFYstPce</string>
        <key>x</key>
        <integer>239</integer>
        <key>y</key>
        <integer>604</integer>
      </dict>
    </array>
    <key>openTypeOS2WeightClass</key>
    <integer>110</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>1</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-10</integer>
      <integer>0</integer>
      <integer>518</integer>
      <integer>528</integer>
      <integer>710</integer>
      <integer>720</integer>
      <integer>735</integer>
      <integer>750</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array>
      <integer>-10</integer>
      <integer>0</integer>
      <integer>518</integer>
      <integer>528</integer>
      <integer>710</integer>
      <integer>720</integer>
      <integer>735</integer>
      <integer>750</integer>
    </array>
    <key>postscriptFamilyOtherBlues</key>
    <array>
      <integer>-236</integer>
      <integer>-223</integer>
    </array>
    <key>postscriptFontName</key>
    <string>RobotoSerifDisplay-HairlineWidth100</string>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-236</integer>
      <integer>-223</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <real>19.4</real>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <real>47.42</real>
    </array>
    <key>postscriptWeightName</key>
    <string>Thin</string>
    <key>styleName</key>
    <string>Hairline</string>
    <key>unitsPerEm</key>
    <real>1000.0</real>
    <key>xHeight</key>
    <integer>518</integer>
  </dict>
</plist>
