<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>E.alt</key>
    <string>E_.alt.glif</string>
    <key>F.alt</key>
    <string>F_.alt.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>eight.lin</key>
    <string>eight.lin.glif</string>
    <key>eight.old</key>
    <string>eight.old.glif</string>
    <key>five.lin</key>
    <string>five.lin.glif</string>
    <key>five.old</key>
    <string>five.old.glif</string>
    <key>four.lin</key>
    <string>four.lin.glif</string>
    <key>four.old</key>
    <string>four.old.glif</string>
    <key>g.alt</key>
    <string>g.alt.glif</string>
    <key>nine.lin</key>
    <string>nine.lin.glif</string>
    <key>nine.old</key>
    <string>nine.old.glif</string>
    <key>one.lin</key>
    <string>one.lin.glif</string>
    <key>one.old</key>
    <string>one.old.glif</string>
    <key>seven.lin</key>
    <string>seven.lin.glif</string>
    <key>seven.old</key>
    <string>seven.old.glif</string>
    <key>six.lin</key>
    <string>six.lin.glif</string>
    <key>six.old</key>
    <string>six.old.glif</string>
    <key>three.lin</key>
    <string>three.lin.glif</string>
    <key>three.old</key>
    <string>three.old.glif</string>
    <key>two.lin</key>
    <string>two.lin.glif</string>
    <key>two.old</key>
    <string>two.old.glif</string>
    <key>zero.lin</key>
    <string>zero.lin.glif</string>
    <key>zero.old</key>
    <string>zero.old.glif</string>
    <key>zero.slash</key>
    <string>zero.slash.glif</string>
    <key>zero.slashlin</key>
    <string>zero.slashlin.glif</string>
    <key>zero.slashold</key>
    <string>zero.slashold.glif</string>
  </dict>
</plist>
