<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>M</string>
	</array>
	<key>@MMK_L_J</key>
	<array>
	</array>
	<key>@MMK_L_K</key>
	<array>
	</array>
	<key>@MMK_L_L</key>
	<array>
	</array>
	<key>@MMK_L_N</key>
	<array>
		<string>N</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>O</string>
		<string>D</string>
	</array>
	<key>@MMK_L_Ohorn</key>
	<array>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
	</array>
	<key>@MMK_L_Uhorn</key>
	<array>
	</array>
	<key>@MMK_L_W</key>
	<array>
	</array>
	<key>@MMK_L_Y</key>
	<array>
	</array>
	<key>@MMK_L_Z</key>
	<array>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
	</array>
	<key>@MMK_L_backslash</key>
	<array>
	</array>
	<key>@MMK_L_braceleft</key>
	<array>
	</array>
	<key>@MMK_L_braceleft_uc</key>
	<array>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
	</array>
	<key>@MMK_L_circle</key>
	<array>
	</array>
	<key>@MMK_L_colon</key>
	<array>
	</array>
	<key>@MMK_L_d</key>
	<array>
		<string>d</string>
	</array>
	<key>@MMK_L_dash</key>
	<array>
	</array>
	<key>@MMK_L_dash.uc</key>
	<array>
	</array>
	<key>@MMK_L_dcaron</key>
	<array>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>e</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
	</array>
	<key>@MMK_L_f.short</key>
	<array>
	</array>
	<key>@MMK_L_f_alt</key>
	<array>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g</string>
	</array>
	<key>@MMK_L_g_alt</key>
	<array>
	</array>
	<key>@MMK_L_guillemot_left</key>
	<array>
	</array>
	<key>@MMK_L_guillemot_right</key>
	<array>
	</array>
	<key>@MMK_L_guillemotleft_uc</key>
	<array>
	</array>
	<key>@MMK_L_guillemotright_uc</key>
	<array>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i</string>
	</array>
	<key>@MMK_L_j</key>
	<array>
	</array>
	<key>@MMK_L_k</key>
	<array>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>l</string>
	</array>
	<key>@MMK_L_mark</key>
	<array>
	</array>
	<key>@MMK_L_minute</key>
	<array>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>h</string>
		<string>m</string>
		<string>n</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>o</string>
		<string>p</string>
		<string>b</string>
	</array>
	<key>@MMK_L_ohorn</key>
	<array>
	</array>
	<key>@MMK_L_period</key>
	<array>
	</array>
	<key>@MMK_L_quotebase</key>
	<array>
	</array>
	<key>@MMK_L_quoteleft</key>
	<array>
	</array>
	<key>@MMK_L_quoteright</key>
	<array>
	</array>
	<key>@MMK_L_quotesingle</key>
	<array>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
	</array>
	<key>@MMK_L_slash</key>
	<array>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
	</array>
	<key>@MMK_L_uhorn</key>
	<array>
	</array>
	<key>@MMK_L_w</key>
	<array>
	</array>
	<key>@MMK_L_y</key>
	<array>
	</array>
	<key>@MMK_L_z</key>
	<array>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
	</array>
	<key>@MMK_R_AE</key>
	<array>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>M</string>
		<string>E</string>
		<string>F</string>
		<string>N</string>
		<string>R</string>
		<string>D</string>
		<string>B</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>O</string>
		<string>C</string>
		<string>G</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
	</array>
	<key>@MMK_R_W</key>
	<array>
	</array>
	<key>@MMK_R_Y</key>
	<array>
	</array>
	<key>@MMK_R_Z</key>
	<array>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
	</array>
	<key>@MMK_R_backslash</key>
	<array>
	</array>
	<key>@MMK_R_braceright</key>
	<array>
	</array>
	<key>@MMK_R_braceright_uc</key>
	<array>
	</array>
	<key>@MMK_R_circle</key>
	<array>
	</array>
	<key>@MMK_R_colon</key>
	<array>
	</array>
	<key>@MMK_R_dash</key>
	<array>
	</array>
	<key>@MMK_R_dash.uc</key>
	<array>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g</string>
	</array>
	<key>@MMK_R_g_alt</key>
	<array>
	</array>
	<key>@MMK_R_guillemot_left</key>
	<array>
	</array>
	<key>@MMK_R_guillemot_right</key>
	<array>
	</array>
	<key>@MMK_R_guillemotleft_uc</key>
	<array>
	</array>
	<key>@MMK_R_guillemotright_uc</key>
	<array>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
	</array>
	<key>@MMK_R_j</key>
	<array>
	</array>
	<key>@MMK_R_l</key>
	<array>
		<string>l</string>
		<string>b</string>
		<string>h</string>
	</array>
	<key>@MMK_R_minute</key>
	<array>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>r</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>o</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>q</string>
	</array>
	<key>@MMK_R_percent</key>
	<array>
	</array>
	<key>@MMK_R_period</key>
	<array>
	</array>
	<key>@MMK_R_quotebase</key>
	<array>
	</array>
	<key>@MMK_R_quoteleft</key>
	<array>
	</array>
	<key>@MMK_R_quoteright</key>
	<array>
	</array>
	<key>@MMK_R_quotesingle</key>
	<array>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
	</array>
	<key>@MMK_R_slash</key>
	<array>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
	</array>
	<key>@MMK_R_w</key>
	<array>
	</array>
	<key>@MMK_R_y</key>
	<array>
	</array>
	<key>@MMK_R_z</key>
	<array>
	</array>
	<key>UC</key>
	<array>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
	</array>
</dict>
</plist>
