<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.alt1</key>
	<string>C_.alt1.glif</string>
	<key>C.alt2</key>
	<string>C_.alt2.glif</string>
	<key>C.copy_1</key>
	<string>C_.copy_1.glif</string>
	<key>C.srf</key>
	<string>C_.srf.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.alt</key>
	<string>E_.alt.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.alt</key>
	<string>F_.alt.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.alt1</key>
	<string>G_.alt1.glif</string>
	<key>G.alt3</key>
	<string>G_.alt3.glif</string>
	<key>G.srf</key>
	<string>G_.srf.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.alt</key>
	<string>J_.alt.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.alt</key>
	<string>K_.alt.glif</string>
	<key>K.alt2</key>
	<string>K_.alt2.glif</string>
	<key>K.alt3</key>
	<string>K_.alt3.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.srf</key>
	<string>S_.srf.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W.alt</key>
	<string>W_.alt.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.srf</key>
	<string>a.srf.glif</string>
	<key>a.srf2</key>
	<string>a.srf2.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c.alt1</key>
	<string>c.alt1.glif</string>
	<key>c.alt2</key>
	<string>c.alt2.glif</string>
	<key>c.srf</key>
	<string>c.srf.glif</string>
	<key>c.srf2</key>
	<string>c.srf2.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.alt</key>
	<string>e.alt.glif</string>
	<key>e.alt2</key>
	<string>e.alt2.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.srf2</key>
	<string>f.srf2.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.alt</key>
	<string>five.alt.glif</string>
	<key>five.alt2</key>
	<string>five.alt2.glif</string>
	<key>five.alt3</key>
	<string>five.alt3.glif</string>
	<key>five.old</key>
	<string>five.old.glif</string>
	<key>five.oldalt</key>
	<string>five.oldalt.glif</string>
	<key>five.oldalt2</key>
	<string>five.oldalt2.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.alt</key>
	<string>four.alt.glif</string>
	<key>four.old</key>
	<string>four.old.glif</string>
	<key>four.oldalt</key>
	<string>four.oldalt.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.alt</key>
	<string>g.alt.glif</string>
	<key>g.alt4</key>
	<string>g.alt4.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j.alt</key>
	<string>j.alt.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k.alt</key>
	<string>k.alt.glif</string>
	<key>k.alt2</key>
	<string>k.alt2.glif</string>
	<key>k.alt3</key>
	<string>k.alt3.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.alt</key>
	<string>one.alt.glif</string>
	<key>one.old</key>
	<string>one.old.glif</string>
	<key>one.oldalt</key>
	<string>one.oldalt.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s.srf</key>
	<string>s.srf.glif</string>
	<key>s.srf2</key>
	<string>s.srf2.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.alt</key>
	<string>seven.alt.glif</string>
	<key>seven.alt2</key>
	<string>seven.alt2.glif</string>
	<key>seven.old</key>
	<string>seven.old.glif</string>
	<key>seven.oldalt</key>
	<string>seven.oldalt.glif</string>
	<key>seven.oldalt2</key>
	<string>seven.oldalt2.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.old</key>
	<string>three.old.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.alt</key>
	<string>two.alt.glif</string>
	<key>two.old</key>
	<string>two.old.glif</string>
	<key>two.oldalt</key>
	<string>two.oldalt.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>w.alt</key>
	<string>w.alt.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.alt</key>
	<string>y.alt.glif</string>
	<key>y.alt2</key>
	<string>y.alt2.glif</string>
	<key>y.alt3</key>
	<string>y.alt3.glif</string>
	<key>y.alt4</key>
	<string>y.alt4.glif</string>
	<key>y.alt5</key>
	<string>y.alt5.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.old</key>
	<string>zero.old.glif</string>
</dict>
</plist>
