<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.linprop</key>
    <string>eight.linprop.glif</string>
    <key>eight.lintab</key>
    <string>eight.lintab.glif</string>
    <key>eight.midprop</key>
    <string>eight.midprop.glif</string>
    <key>eight.oldprop</key>
    <string>eight.oldprop.glif</string>
    <key>f.alt</key>
    <string>f.alt.glif</string>
    <key>f.short</key>
    <string>f.short.glif</string>
    <key>f_f.short</key>
    <string>f_f.short.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.den</key>
    <string>five.den.glif</string>
    <key>five.linprop</key>
    <string>five.linprop.glif</string>
    <key>five.lintab</key>
    <string>five.lintab.glif</string>
    <key>five.midprop</key>
    <string>five.midprop.glif</string>
    <key>five.oldprop</key>
    <string>five.oldprop.glif</string>
    <key>five.oldtab</key>
    <string>five.oldtab.glif</string>
    <key>four.linprop</key>
    <string>four.linprop.glif</string>
    <key>four.lintab</key>
    <string>four.lintab.glif</string>
    <key>four.midprop</key>
    <string>four.midprop.glif</string>
    <key>four.oldprop</key>
    <string>four.oldprop.glif</string>
    <key>four.oldtab</key>
    <string>four.oldtab.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.den</key>
    <string>nine.den.glif</string>
    <key>nine.linprop</key>
    <string>nine.linprop.glif</string>
    <key>nine.lintab</key>
    <string>nine.lintab.glif</string>
    <key>nine.midprop</key>
    <string>nine.midprop.glif</string>
    <key>nine.oldprop</key>
    <string>nine.oldprop.glif</string>
    <key>nine.oldtab</key>
    <string>nine.oldtab.glif</string>
    <key>one.linprop</key>
    <string>one.linprop.glif</string>
    <key>one.lintab</key>
    <string>one.lintab.glif</string>
    <key>one.midprop</key>
    <string>one.midprop.glif</string>
    <key>one.oldprop</key>
    <string>one.oldprop.glif</string>
    <key>one.oldtab</key>
    <string>one.oldtab.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.den</key>
    <string>seven.den.glif</string>
    <key>seven.lintab</key>
    <string>seven.lintab.glif</string>
    <key>seven.midprop</key>
    <string>seven.midprop.glif</string>
    <key>seven.oldprop</key>
    <string>seven.oldprop.glif</string>
    <key>seven.oldtab</key>
    <string>seven.oldtab.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.den</key>
    <string>six.den.glif</string>
    <key>six.linprop</key>
    <string>six.linprop.glif</string>
    <key>six.lintab</key>
    <string>six.lintab.glif</string>
    <key>six.midprop</key>
    <string>six.midprop.glif</string>
    <key>six.oldprop</key>
    <string>six.oldprop.glif</string>
    <key>six.oldtab</key>
    <string>six.oldtab.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.den</key>
    <string>three.den.glif</string>
    <key>three.linprop</key>
    <string>three.linprop.glif</string>
    <key>three.lintab</key>
    <string>three.lintab.glif</string>
    <key>three.midprop</key>
    <string>three.midprop.glif</string>
    <key>three.oldprop</key>
    <string>three.oldprop.glif</string>
    <key>three.oldtab</key>
    <string>three.oldtab.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.linprop</key>
    <string>two.linprop.glif</string>
    <key>two.lintab</key>
    <string>two.lintab.glif</string>
    <key>two.midprop</key>
    <string>two.midprop.glif</string>
    <key>two.oldprop</key>
    <string>two.oldprop.glif</string>
    <key>two.oldtab</key>
    <string>two.oldtab.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>whitecircle</key>
    <string>whitecircle.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.lintab</key>
    <string>zero.lintab.glif</string>
  </dict>
</plist>
