<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.defcon.sortDescriptor</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>space</string>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>O</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Z</string>
				<string>a</string>
				<string>b</string>
				<string>c</string>
				<string>d</string>
				<string>e</string>
				<string>f</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>o</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>s</string>
				<string>t</string>
				<string>u</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>z</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>hyphen</string>
				<string>endash</string>
				<string>emdash</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>bracketleft</string>
				<string>bracketright</string>
				<string>braceleft</string>
				<string>braceright</string>
				<string>quoteleft</string>
				<string>quoteright</string>
				<string>quotedblleft</string>
				<string>quotedblright</string>
				<string>period</string>
				<string>comma</string>
				<string>colon</string>
				<string>semicolon</string>
				<string>exclam</string>
				<string>question</string>
				<string>plus</string>
				<string>minus</string>
				<string>equal</string>
				<string>dollar</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<false/>
	<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<false/>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<false/>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>1</integer>
	<key>com.typesupply.ufo2fdk.glyphOrderAndAliasDB</key>
	<string>space	space	uni0020
A	A	uni0041
B	B	uni0042
C	C	uni0043
D	D	uni0044
E	E	uni0045
F	F	uni0046
G	G	uni0047
H	H	uni0048
I	I	uni0049
J	J	uni004A
K	K	uni004B
L	L	uni004C
M	M	uni004D
N	N	uni004E
O	O	uni004F
P	P	uni0050
Q	Q	uni0051
R	R	uni0052
S	S	uni0053
T	T	uni0054
U	U	uni0055
V	V	uni0056
W	W	uni0057
X	X	uni0058
Y	Y	uni0059
Z	Z	uni005A
a	a	uni0061
b	b	uni0062
c	c	uni0063
d	d	uni0064
e	e	uni0065
f	f	uni0066
g	g	uni0067
h	h	uni0068
i	i	uni0069
j	j	uni006A
k	k	uni006B
l	l	uni006C
m	m	uni006D
n	n	uni006E
o	o	uni006F
p	p	uni0070
q	q	uni0071
r	r	uni0072
s	s	uni0073
t	t	uni0074
u	u	uni0075
v	v	uni0076
w	w	uni0077
x	x	uni0078
y	y	uni0079
z	z	uni007A
zero	zero	uni0030
one	one	uni0031
two	two	uni0032
three	three	uni0033
four	four	uni0034
five	five	uni0035
six	six	uni0036
seven	seven	uni0037
eight	eight	uni0038
nine	nine	uni0039
hyphen	hyphen	uni002D
endash	endash	uni2013
emdash	emdash	uni2014
parenleft	parenleft	uni0028
parenright	parenright	uni0029
bracketleft	bracketleft	uni005B
bracketright	bracketright	uni005D
braceleft	braceleft	uni007B
braceright	braceright	uni007D
quoteleft	quoteleft	uni2018
quoteright	quoteright	uni2019
quotedblleft	quotedblleft	uni201C
quotedblright	quotedblright	uni201D
period	period	uni002E
comma	comma	uni002C
colon	colon	uni003A
semicolon	semicolon	uni003B
exclam	exclam	uni0021
question	question	uni003F
plus	plus	uni002B
minus	minus	uni2212
equal	equal	uni003D
dollar	dollar	uni0024
</string>
	<key>public.glyphOrder</key>
	<array>
		<string>space</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>exclam</string>
		<string>question</string>
		<string>plus</string>
		<string>minus</string>
		<string>equal</string>
		<string>dollar</string>
	</array>
</dict>
</plist>
