<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1048</integer>
    <key>capHeight</key>
    <integer>710</integer>
    <key>copyright</key>
    <string>Copyright (c) 2019 Google Inc.. All rights reserved.</string>
    <key>descender</key>
    <integer>-271</integer>
    <key>familyName</key>
    <string>Roboto Serif Text</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>MrCqxX2n9s</string>
        <key>x</key>
        <real>257.0</real>
        <key>y</key>
        <real>513.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>1TB0FbKD2r</string>
        <key>x</key>
        <real>133.5</real>
        <key>y</key>
        <real>735.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>BquNLTxfGr</string>
        <key>x</key>
        <integer>303</integer>
        <key>y</key>
        <integer>-224</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>9QVG1ZqAC2</string>
        <key>x</key>
        <real>281.0</real>
        <key>y</key>
        <real>-10.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>g3RoRYTnye</string>
        <key>x</key>
        <integer>126</integer>
        <key>y</key>
        <integer>655</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>kRXRNRCOxs</string>
        <key>x</key>
        <integer>387</integer>
        <key>y</key>
        <integer>625</integer>
      </dict>
      <dict>
        <key>angle</key>
        <real>349.6084949945714</real>
        <key>identifier</key>
        <string>hpvZEyj5cq</string>
        <key>x</key>
        <integer>697</integer>
        <key>y</key>
        <integer>-62</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>kDYhUIodmv</string>
        <key>x</key>
        <integer>333</integer>
        <key>y</key>
        <integer>-58</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2019/08/04 14:58:32</string>
    <key>openTypeHeadFlags</key>
    <array/>
    <key>openTypeHheaAscender</key>
    <integer>1048</integer>
    <key>openTypeHheaDescender</key>
    <integer>-271</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Greg Gazdowicz</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://www.commercialtype.com/</string>
    <key>openTypeNameLicense</key>
    <string>Licensed under the Apache License, Version 2.0</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://www.apache.org/licenses/LICENSE-2.0</string>
    <key>openTypeNameManufacturer</key>
    <string>Commercial Type</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://www.commercialtype.com/</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Roboto Serif Text</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Super Cond</string>
    <key>openTypeNameUniqueID</key>
    <string>CommercialType: Roboto Serif Text Regular Interpolable:2019</string>
    <key>openTypeNameVersion</key>
    <string>Version 1.000</string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>4</integer>
      <integer>7</integer>
      <integer>8</integer>
      <integer>29</integer>
    </array>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array/>
    <key>openTypeOS2Type</key>
    <array>
      <integer>2</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>1048</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-271</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>3</integer>
      <integer>5</integer>
      <integer>6</integer>
      <integer>7</integer>
      <integer>24</integer>
      <integer>29</integer>
      <integer>31</integer>
      <integer>33</integer>
      <integer>35</integer>
      <integer>36</integer>
      <integer>37</integer>
      <integer>38</integer>
      <integer>41</integer>
      <integer>42</integer>
      <integer>45</integer>
      <integer>62</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>COMM</string>
    <key>openTypeOS2WeightClass</key>
    <integer>900</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1048</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>271</integer>
    <key>postscriptBlueFuzz</key>
    <integer>1</integer>
    <key>postscriptBlueScale</key>
    <real>0.039625</real>
    <key>postscriptBlueShift</key>
    <integer>7</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-20</integer>
      <integer>0</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>RobotoSerifText-Style3</string>
    <key>postscriptForceBold</key>
    <false/>
    <key>postscriptFullName</key>
    <string>Roboto Serif Text Style_3</string>
    <key>postscriptIsFixedPitch</key>
    <false/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-95</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>45</integer>
    <key>postscriptWeightName</key>
    <string>Black</string>
    <key>styleMapFamilyName</key>
    <string>Roboto Serif Text Black</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Super Cond</string>
    <key>trademark</key>
    <string>Roboto is a registered trademark of Google, Inc.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>1</integer>
    <key>xHeight</key>
    <integer>508</integer>
  </dict>
</plist>
