<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>710</integer>
    <key>descender</key>
    <integer>-250</integer>
    <key>familyName</key>
    <string>Roboto Serif Text</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>CgPQ3t1QGx</string>
        <key>name</key>
        <string>UC accents</string>
        <key>x</key>
        <integer>742</integer>
        <key>y</key>
        <integer>710</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>DPRQSr4DCa</string>
        <key>name</key>
        <string>LC accents</string>
        <key>x</key>
        <integer>408</integer>
        <key>y</key>
        <integer>508</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>XCDIFwRRlt</string>
        <key>x</key>
        <integer>242</integer>
        <key>y</key>
        <integer>1010</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>p1bm7kxnqM</string>
        <key>x</key>
        <integer>431</integer>
        <key>y</key>
        <integer>802</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>UtINtJiyk0</string>
        <key>x</key>
        <integer>155</integer>
        <key>y</key>
        <integer>745</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>KPfqIpqMBs</string>
        <key>x</key>
        <integer>369</integer>
        <key>y</key>
        <integer>974</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>TUB3zgg6sH</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>481</integer>
      </dict>
    </array>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>Hairline</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>xHeight</key>
    <integer>508</integer>
  </dict>
</plist>
