<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>E.alt</key>
    <string>E_.alt.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>f.alt</key>
    <string>f.alt.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
  </dict>
</plist>
