<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>735</integer>
    <key>capHeight</key>
    <integer>710</integer>
    <key>descender</key>
    <integer>-223</integer>
    <key>familyName</key>
    <string>Roboto Serif Display Cond</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>identifier</key>
        <string>od9J902T9U</string>
        <key>x</key>
        <integer>153</integer>
        <key>y</key>
        <integer>655</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>identifier</key>
        <string>USsfSVWSQ9</string>
        <key>x</key>
        <integer>5</integer>
        <key>y</key>
        <integer>655</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>q6RvTDhQ0S</string>
        <key>x</key>
        <integer>117</integer>
        <key>y</key>
        <integer>624</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>yVtpfoYygk</string>
        <key>x</key>
        <integer>165</integer>
        <key>y</key>
        <integer>518</integer>
      </dict>
    </array>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>Hairline</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>xHeight</key>
    <integer>508</integer>
  </dict>
</plist>
