
.RobotoSerifText8Grades {
    font-family: "Roboto Serif Text 8 Grades";
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
	font-family: "Roboto Serif Text 8 Grades";
	src: url("RobotoSerifTextGradesWeight8Grades190211-VF.woff2") format("woff2"),
		     url("RobotoSerifTextGradesWeight8Grades190211-VF.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	}
	
.RobotoSerifText10Grades {
    font-family: "Roboto Serif Text 10 Grades";
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
	font-family: "Roboto Serif Text 10 Grades";
	src: url("RobotoSerifTextGradesWeight10Grades190211-VF.woff2") format("woff2"),
		     url("RobotoSerifTextGradesWeight10Grades190211-VF.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	}