<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>710</integer>
    <key>descender</key>
    <integer>-250</integer>
    <key>familyName</key>
    <string>Roboto Serif Text Wide</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>fhayHuwtwn</string>
        <key>x</key>
        <integer>972</integer>
        <key>y</key>
        <integer>262</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>ftjlTp6okx</string>
        <key>x</key>
        <integer>777</integer>
        <key>y</key>
        <integer>720</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>n4hhCSY5Gt</string>
        <key>x</key>
        <integer>749</integer>
        <key>y</key>
        <integer>-10</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>identifier</key>
        <string>sOhmolVmYv</string>
        <key>x</key>
        <integer>709</integer>
        <key>y</key>
        <integer>309</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>6E5Jqyxdwd</string>
        <key>x</key>
        <integer>472</integer>
        <key>y</key>
        <integer>518</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>420</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>4</integer>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>RobotoSerifText-RegularWdth1500</string>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptWeightName</key>
    <string>Normal</string>
    <key>styleName</key>
    <string>Regular Wdth1500</string>
    <key>unitsPerEm</key>
    <real>1000.0</real>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <real>508.3</real>
  </dict>
</plist>
