<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aogonek</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>AE</string>
      <string>E</string>
      <string>E.alt</string>
      <string>Eogonek</string>
      <string>OE</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
      <string>F.alt</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
    </array>
    <key>public.kern1.Germandbls</key>
    <array>
      <string>Germandbls</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>Hbar</string>
      <string>I</string>
      <string>Iogonek</string>
      <string>M</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
    </array>
    <key>public.kern1.N</key>
    <array>
      <string>Eng</string>
      <string>N</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>D</string>
      <string>Eth</string>
      <string>O</string>
      <string>Oslash</string>
      <string>Q</string>
      <string>Schwa</string>
    </array>
    <key>public.kern1.Ohorn</key>
    <array/>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>Uogonek</string>
    </array>
    <key>public.kern1.Uhorn</key>
    <array/>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>aogonek</string>
    </array>
    <key>public.kern1.backslash</key>
    <array>
      <string>backslash</string>
      <string>backslash.uc</string>
    </array>
    <key>public.kern1.braceleft</key>
    <array>
      <string>braceleft</string>
      <string>bracketleft</string>
    </array>
    <key>public.kern1.braceleft_uc</key>
    <array>
      <string>braceleft.uc</string>
      <string>bracketleft.uc</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
    </array>
    <key>public.kern1.circle</key>
    <array>
      <string>Pcircle</string>
      <string>copyright</string>
      <string>registered</string>
    </array>
    <key>public.kern1.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.d</key>
    <array>
      <string>d</string>
      <string>dcroat</string>
    </array>
    <key>public.kern1.dash</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
    </array>
    <key>public.kern1.dash.uc</key>
    <array>
      <string>emdash.uc</string>
      <string>endash.uc</string>
      <string>hyphen.uc</string>
    </array>
    <key>public.kern1.dcaron</key>
    <array/>
    <key>public.kern1.e</key>
    <array>
      <string>ae</string>
      <string>e</string>
      <string>eogonek</string>
      <string>oe</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
      <string>f_f</string>
    </array>
    <key>public.kern1.f.short</key>
    <array>
      <string>f.short</string>
    </array>
    <key>public.kern1.f_alt</key>
    <array>
      <string>f.alt</string>
      <string>f_f.alt</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern1.g_alt</key>
    <array/>
    <key>public.kern1.guillemot_left</key>
    <array>
      <string>guillemotleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern1.guillemot_right</key>
    <array>
      <string>guillemotright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern1.guillemotleft_uc</key>
    <array>
      <string>guillemotleft.uc</string>
      <string>guilsinglleft.uc</string>
    </array>
    <key>public.kern1.guillemotright_uc</key>
    <array>
      <string>guillemotright.uc</string>
      <string>guilsinglright.uc</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>dotlessi</string>
      <string>f_f_i</string>
      <string>f_i</string>
      <string>fi</string>
      <string>i</string>
      <string>iogonek</string>
      <string>f_f_i.alt</string>
      <string>fi.alt</string>
    </array>
    <key>public.kern1.j</key>
    <array>
      <string>dotlessj</string>
      <string>eng</string>
      <string>f_f_j</string>
      <string>f_j</string>
      <string>ij</string>
      <string>j</string>
      <string>f_f_j.alt</string>
      <string>f_j.alt</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>f_f_k</string>
      <string>f_k</string>
      <string>k</string>
      <string>f_f_k.alt</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>f_f_l</string>
      <string>f_l</string>
      <string>fl</string>
      <string>l</string>
      <string>f_f_l.alt</string>
    </array>
    <key>public.kern1.mark</key>
    <array>
      <string>servicemark</string>
      <string>trademark</string>
    </array>
    <key>public.kern1.minute</key>
    <array>
      <string>minute</string>
      <string>second</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>f_f_h</string>
      <string>f_h</string>
      <string>h</string>
      <string>hbar</string>
      <string>m</string>
      <string>n</string>
      <string>f_f_h.alt</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>b</string>
      <string>eth</string>
      <string>f_b</string>
      <string>f_f_b</string>
      <string>o</string>
      <string>oslash</string>
      <string>p</string>
      <string>schwa</string>
      <string>thorn</string>
      <string>f_f_b.alt</string>
    </array>
    <key>public.kern1.ohorn</key>
    <array/>
    <key>public.kern1.period</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
    </array>
    <key>public.kern1.quotebase</key>
    <array>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern1.quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern1.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
    </array>
    <key>public.kern1.slash</key>
    <array>
      <string>slash</string>
      <string>slash.uc</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>u</string>
      <string>uogonek</string>
    </array>
    <key>public.kern1.uhorn</key>
    <array/>
    <key>public.kern1.w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern1.y</key>
    <array>
      <string>y</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aogonek</string>
    </array>
    <key>public.kern2.AE</key>
    <array>
      <string>AE</string>
    </array>
    <key>public.kern2.H</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>E</string>
      <string>E.alt</string>
      <string>Eng</string>
      <string>Eogonek</string>
      <string>Eth</string>
      <string>F</string>
      <string>F.alt</string>
      <string>H</string>
      <string>Hbar</string>
      <string>I</string>
      <string>Iogonek</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>P</string>
      <string>R</string>
      <string>Thorn</string>
      <string>Germandbls</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>C</string>
      <string>G</string>
      <string>O</string>
      <string>OE</string>
      <string>Oslash</string>
      <string>Q</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uogonek</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>ae</string>
      <string>aogonek</string>
    </array>
    <key>public.kern2.backslash</key>
    <array>
      <string>backslash</string>
      <string>backslash.uc</string>
    </array>
    <key>public.kern2.braceright</key>
    <array>
      <string>braceright</string>
      <string>bracketright</string>
    </array>
    <key>public.kern2.braceright_uc</key>
    <array>
      <string>braceright.uc</string>
      <string>bracketright.uc</string>
    </array>
    <key>public.kern2.circle</key>
    <array>
      <string>Pcircle</string>
      <string>copyright</string>
      <string>registered</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.dash</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
    </array>
    <key>public.kern2.dash.uc</key>
    <array>
      <string>emdash.uc</string>
      <string>endash.uc</string>
      <string>hyphen.uc</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
      <string>f.alt</string>
      <string>f.short</string>
      <string>f_b</string>
      <string>f_f</string>
      <string>f_f_b</string>
      <string>f_f_h</string>
      <string>f_f_i</string>
      <string>f_f_j</string>
      <string>f_f_k</string>
      <string>f_f_l</string>
      <string>f_h</string>
      <string>f_i</string>
      <string>f_j</string>
      <string>f_k</string>
      <string>f_l</string>
      <string>fi</string>
      <string>fl</string>
      <string>f_f.alt</string>
      <string>f_f_b.alt</string>
      <string>f_f_i.alt</string>
      <string>f_f_j.alt</string>
      <string>f_f_k.alt</string>
      <string>f_f_l.alt</string>
      <string>f_j.alt</string>
      <string>fi.alt</string>
      <string>f_f_h.alt</string>
    </array>
    <key>public.kern2.g</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern2.g_alt</key>
    <array/>
    <key>public.kern2.guillemot_left</key>
    <array>
      <string>guillemotleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern2.guillemot_right</key>
    <array>
      <string>guillemotright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2.guillemotleft_uc</key>
    <array>
      <string>guillemotleft.uc</string>
      <string>guilsinglleft.uc</string>
    </array>
    <key>public.kern2.guillemotright_uc</key>
    <array>
      <string>guillemotright.uc</string>
      <string>guilsinglright.uc</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>dotlessi</string>
      <string>i</string>
      <string>ij</string>
      <string>iogonek</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>dotlessj</string>
      <string>j</string>
    </array>
    <key>public.kern2.l</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>hbar</string>
      <string>k</string>
      <string>l</string>
    </array>
    <key>public.kern2.minute</key>
    <array>
      <string>minute</string>
      <string>second</string>
    </array>
    <key>public.kern2.n</key>
    <array>
      <string>eng</string>
      <string>m</string>
      <string>n</string>
      <string>r</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>c</string>
      <string>d</string>
      <string>dcroat</string>
      <string>e</string>
      <string>eogonek</string>
      <string>eth</string>
      <string>o</string>
      <string>oe</string>
      <string>oslash</string>
      <string>q</string>
    </array>
    <key>public.kern2.percent</key>
    <array>
      <string>percent</string>
      <string>perthousand</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
    </array>
    <key>public.kern2.quotebase</key>
    <array>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern2.quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern2.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
    </array>
    <key>public.kern2.slash</key>
    <array>
      <string>slash</string>
      <string>slash.uc</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>uogonek</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern2.y</key>
    <array>
      <string>y</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
    </array>
  </dict>
</plist>
