<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>710</integer>
    <key>descender</key>
    <integer>-223</integer>
    <key>familyName</key>
    <string>Roboto Serif Display</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>SFcQlZcGx4</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>-223</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>New28hNlqF</string>
        <key>x</key>
        <integer>425</integer>
        <key>y</key>
        <integer>528</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>0MdymUy2a9</string>
        <key>x</key>
        <integer>477</integer>
        <key>y</key>
        <integer>-10</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>ZMyClVJ35M</string>
        <key>x</key>
        <integer>646</integer>
        <key>y</key>
        <integer>720</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>QKzSVLJPV3</string>
        <key>x</key>
        <integer>158</integer>
        <key>y</key>
        <integer>347</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>lYe8AT3sq7</string>
        <key>x</key>
        <integer>13</integer>
        <key>y</key>
        <integer>-6</integer>
      </dict>
      <dict>
        <key>angle</key>
        <real>80.0</real>
        <key>identifier</key>
        <string>XOnPiomjj3</string>
        <key>x</key>
        <integer>232</integer>
        <key>y</key>
        <integer>151</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>x91aNE2oXv</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>839</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>RGp6tsbYw2</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>660</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <real>-10.0</real>
    <key>openTypeOS2WeightClass</key>
    <integer>500</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>Regular Italic</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>xHeight</key>
    <integer>518</integer>
  </dict>
</plist>
