<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Adblgrave</string>
		<string>Agrave</string>
		<string>Acircumflexdotbelow</string>
		<string>Aringacute</string>
		<string>Ahookabove</string>
		<string>Acircumflexacute</string>
		<string>Amacron</string>
		<string>Abreveacute</string>
		<string>Ainvertedbreve</string>
		<string>Atilde</string>
		<string>Adotbelow</string>
		<string>Acaron</string>
		<string>Aogonek</string>
		<string>Acircumflexhookabove</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>Aacute</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Abrevegrave</string>
		<string>Acircumflexgrave</string>
		<string>Abrevedotbelow</string>
		<string>Acircumflextilde</string>
		<string>Acircumflex</string>
		<string>Abreve</string>
	</array>
	<key>public.kern1.@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Cdotaccent</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedillaacute</string>
		<string>Ccircumflex</string>
		<string>Cacute.pl</string>
		<string>Ccedilla</string>
	</array>
	<key>public.kern1.@MMK_L_E</key>
	<array>
		<string>Emacrongrave.alt</string>
		<string>Egrave</string>
		<string>Eogonek</string>
		<string>Emacronacute.alt</string>
		<string>Ecaron.alt</string>
		<string>Einvertedbreve</string>
		<string>Ehookabove.alt</string>
		<string>Eogonek.alt</string>
		<string>Egrave.alt</string>
		<string>Ebreve.alt</string>
		<string>E</string>
		<string>Emacron.alt</string>
		<string>Ecircumflexgrave.alt</string>
		<string>Ecircumflexdotbelow.alt</string>
		<string>Ecircumflex</string>
		<string>Ecircumflex.alt</string>
		<string>Ecedillabreve</string>
		<string>Ecircumflexacute</string>
		<string>Ebreve</string>
		<string>Emacron</string>
		<string>Ecircumflexhookabove.alt</string>
		<string>Edotbelow</string>
		<string>Etilde</string>
		<string>Ecaron</string>
		<string>AE</string>
		<string>Edotaccent.alt</string>
		<string>Etilde.alt</string>
		<string>Edieresis.alt</string>
		<string>Edblgrave</string>
		<string>AEacute</string>
		<string>Ehookabove</string>
		<string>Eacute.alt</string>
		<string>Ecircumflexhookabove</string>
		<string>Eacute</string>
		<string>Ecircumflextilde.alt</string>
		<string>Edotbelow.alt</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflextilde</string>
		<string>Ecircumflexdotbelow</string>
		<string>OE</string>
		<string>Ecircumflexacute.alt</string>
		<string>Edieresis</string>
		<string>Emacronacute</string>
		<string>Emacrongrave</string>
		<string>Ecedillabreve.alt</string>
		<string>Edblgrave.alt</string>
		<string>Edotaccent</string>
		<string>Einvertedbreve.alt</string>
	</array>
	<key>public.kern1.@MMK_L_F</key>
	<array>
		<string>F</string>
	</array>
	<key>public.kern1.@MMK_L_G</key>
	<array>
		<string>Gdotaccent</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>G</string>
		<string>Gmacron</string>
		<string>Gcaron</string>
		<string>Gcommaaccent</string>
	</array>
	<key>public.kern1.@MMK_L_H</key>
	<array>
		<string>Ihookabove</string>
		<string>Iogonek</string>
		<string>Imacron</string>
		<string>Idblgrave</string>
		<string>Idotaccent</string>
		<string>M</string>
		<string>Hdotbelow</string>
		<string>Itilde</string>
		<string>Icaron</string>
		<string>Ibreve</string>
		<string>Ihoi</string>
		<string>Hbar</string>
		<string>Mdotbelow</string>
		<string>Idotbelow</string>
		<string>Idieresisacute</string>
		<string>Iacute</string>
		<string>Idieresis</string>
		<string>Hbrevebelow</string>
		<string>Igrave</string>
		<string>Icircumflex</string>
		<string>I</string>
		<string>H</string>
		<string>Hcircumflex</string>
		<string>Iinvertedbreve</string>
	</array>
	<key>public.kern1.@MMK_L_J</key>
	<array>
		<string>Jacute</string>
		<string>J</string>
		<string>IJ</string>
		<string>Jcircumflex</string>
	</array>
	<key>public.kern1.@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
	</array>
	<key>public.kern1.@MMK_L_L</key>
	<array>
		<string>Llinebelow</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lslash</string>
		<string>Lcommaaccent</string>
		<string>Ldotbelow</string>
		<string>L</string>
	</array>
	<key>public.kern1.@MMK_L_N</key>
	<array>
		<string>Nacute</string>
		<string>Eng</string>
		<string>Ndotbelow</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>Ndotaccent</string>
		<string>Ncommaaccent</string>
		<string>Ncaron</string>
		<string>Nacute.pl</string>
		<string>Nlinebelow</string>
	</array>
	<key>public.kern1.@MMK_L_O</key>
	<array>
		<string>Ocircumflexgrave</string>
		<string>Otildemacron</string>
		<string>Schwa</string>
		<string>Odotaccentmacron</string>
		<string>Odotbelow</string>
		<string>Omacrongrave</string>
		<string>Otilde</string>
		<string>Otildeacute</string>
		<string>Dcaron</string>
		<string>Dlinebelow</string>
		<string>Odblgrave</string>
		<string>Ocircumflextilde</string>
		<string>Ocircumflexdotbelow</string>
		<string>Odieresis</string>
		<string>Ohungarumlaut</string>
		<string>Odieresismacron</string>
		<string>Omacronacute</string>
		<string>Dcroat</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Omacron</string>
		<string>D</string>
		<string>O</string>
		<string>Q</string>
		<string>Eth</string>
		<string>Ocircumflexacute</string>
		<string>Oogonek</string>
		<string>Oacute</string>
		<string>Ograve</string>
		<string>Ocircumflex</string>
		<string>Ohookabove</string>
		<string>Oinvertedbreve</string>
		<string>Otildedieresis</string>
		<string>Ddotbelow</string>
		<string>Ocircumflexhookabove</string>
		<string>Oacute.pl</string>
		<string>Obreve</string>
		<string>Ocaron</string>
	</array>
	<key>public.kern1.@MMK_L_Ohorn</key>
	<array>
		<string>Ohorntilde</string>
		<string>Ohornacute</string>
		<string>Ohorndotbelow</string>
		<string>Ohorngrave</string>
		<string>Ohornhookabove</string>
		<string>Ohorn</string>
	</array>
	<key>public.kern1.@MMK_L_R</key>
	<array>
		<string>Racute</string>
		<string>Rdblgrave</string>
		<string>Rlinebelow</string>
		<string>Rdotbelow</string>
		<string>Rcaron</string>
		<string>R</string>
		<string>Rcommaaccent</string>
		<string>Rinvertedbreve</string>
	</array>
	<key>public.kern1.@MMK_L_S</key>
	<array>
		<string>Sdotbelowdotaccent</string>
		<string>Germandbls</string>
		<string>Scircumflex</string>
		<string>SS</string>
		<string>Scommaaccent</string>
		<string>Scedilla</string>
		<string>S</string>
		<string>Scarondotaccent</string>
		<string>Sdotbelow</string>
		<string>Sacutedotaccent</string>
		<string>Sdotaccent</string>
		<string>Sacute.pl</string>
		<string>Sacute</string>
		<string>Scaron</string>
	</array>
	<key>public.kern1.@MMK_L_T</key>
	<array>
		<string>Tdotbelow</string>
		<string>Tcommaaccent</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tlinebelow</string>
		<string>Tcedilla</string>
		<string>Tcaron</string>
	</array>
	<key>public.kern1.@MMK_L_U</key>
	<array>
		<string>Udotbelow</string>
		<string>Uhungarumlaut</string>
		<string>Utilde</string>
		<string>Ucaron</string>
		<string>Uinvertedbreve</string>
		<string>Uogonek</string>
		<string>Umacrondieresis</string>
		<string>Ubreve</string>
		<string>U</string>
		<string>Udblgrave</string>
		<string>Udieresis</string>
		<string>Uhookabove</string>
		<string>Umacron</string>
		<string>Uacute</string>
		<string>Uring</string>
		<string>Ugrave</string>
		<string>Ucircumflex</string>
		<string>Utildeacute</string>
		<string>Udieresiscaron</string>
	</array>
	<key>public.kern1.@MMK_L_Uhorn</key>
	<array>
		<string>Uhorntilde</string>
		<string>Uhornhookabove</string>
		<string>Uhorngrave</string>
		<string>Uhornacute</string>
		<string>Uhorndotbelow</string>
		<string>Uhorn</string>
	</array>
	<key>public.kern1.@MMK_L_W</key>
	<array>
		<string>Wgrave</string>
		<string>Wcircumflex</string>
		<string>W</string>
		<string>Wdieresis</string>
		<string>Wacute</string>
	</array>
	<key>public.kern1.@MMK_L_Y</key>
	<array>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Yhookabove</string>
		<string>Ydotbelow</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ymacron</string>
		<string>Ydotaccent</string>
		<string>Ygrave</string>
		<string>Ytilde</string>
	</array>
	<key>public.kern1.@MMK_L_Z</key>
	<array>
		<string>Zacute.pl</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Zacute</string>
		<string>Z</string>
		<string>Zdotbelow</string>
	</array>
	<key>public.kern1.@MMK_L_a</key>
	<array>
		<string>acircumflexhookabove</string>
		<string>acircumflexgrave</string>
		<string>adieresis</string>
		<string>abrevedotbelow</string>
		<string>acircumflexacute</string>
		<string>aacute</string>
		<string>abrevehookabove</string>
		<string>acircumflex</string>
		<string>abrevetilde</string>
		<string>abrevegrave</string>
		<string>agrave</string>
		<string>acircumflextilde</string>
		<string>abreveacute</string>
		<string>abreve</string>
		<string>a</string>
		<string>adblgrave</string>
		<string>aring</string>
		<string>acircumflexdotbelow</string>
		<string>aringacute</string>
		<string>ahookabove</string>
		<string>amacron</string>
		<string>ainvertedbreve</string>
		<string>atilde</string>
		<string>adotbelow</string>
		<string>acaron</string>
		<string>aogonek</string>
	</array>
	<key>public.kern1.@MMK_L_backslash</key>
	<array>
		<string>backslash</string>
		<string>backslash.uc</string>
	</array>
	<key>public.kern1.@MMK_L_braceleft</key>
	<array>
		<string>bracketleft</string>
		<string>braceleft</string>
	</array>
	<key>public.kern1.@MMK_L_braceleft_uc</key>
	<array>
		<string>bracketleft.uc</string>
		<string>braceleft.uc</string>
	</array>
	<key>public.kern1.@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>cdotaccent</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedillaacute</string>
		<string>ccircumflex</string>
		<string>cacute.pl</string>
		<string>ccedilla</string>
	</array>
	<key>public.kern1.@MMK_L_circle</key>
	<array>
		<string>registered</string>
		<string>Pcircle</string>
		<string>uni2117</string>
		<string>copyright</string>
	</array>
	<key>public.kern1.@MMK_L_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern1.@MMK_L_d</key>
	<array>
		<string>ddotbelow</string>
		<string>dlinebelow</string>
		<string>d</string>
		<string>dcroat</string>
	</array>
	<key>public.kern1.@MMK_L_dash</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>figuredash</string>
	</array>
	<key>public.kern1.@MMK_L_dash.uc</key>
	<array>
		<string>endash.uc</string>
		<string>hyphen.uc</string>
		<string>emdash.uc</string>
	</array>
	<key>public.kern1.@MMK_L_dcaron</key>
	<array>
		<string>dcaron</string>
		<string>lcaron</string>
	</array>
	<key>public.kern1.@MMK_L_e</key>
	<array>
		<string>ae</string>
		<string>ecedillabreve</string>
		<string>ecircumflexacute</string>
		<string>ebreve</string>
		<string>aeacute</string>
		<string>edieresis</string>
		<string>emacronacute</string>
		<string>edotbelow</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>ecircumflextilde</string>
		<string>ecircumflexdotbelow</string>
		<string>edotaccent</string>
		<string>ecaron</string>
		<string>egrave</string>
		<string>eogonek</string>
		<string>e</string>
		<string>etilde</string>
		<string>oe</string>
		<string>edblgrave</string>
		<string>einvertedbreve</string>
		<string>ehookabove</string>
		<string>emacrongrave</string>
		<string>emacron</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhookabove</string>
	</array>
	<key>public.kern1.@MMK_L_f</key>
	<array>
		<string>f_f</string>
		<string>f</string>
	</array>
	<key>public.kern1.@MMK_L_f.short</key>
	<array>
		<string>f_f.short</string>
		<string>f.short</string>
	</array>
	<key>public.kern1.@MMK_L_f_alt</key>
	<array>
		<string>f_f.alt</string>
	</array>
	<key>public.kern1.@MMK_L_g</key>
	<array>
		<string>gdotaccent</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>g</string>
		<string>gmacron</string>
		<string>gcaron</string>
		<string>gcommaaccent</string>
	</array>
	<key>public.kern1.@MMK_L_g_alt</key>
	<array>
		<string>gcommaaccent.alt</string>
		<string>g.alt</string>
		<string>gdotaccent.alt</string>
		<string>gmacron.alt</string>
		<string>gcircumflex.alt</string>
		<string>gbreve.alt</string>
		<string>gcaron.alt</string>
	</array>
	<key>public.kern1.@MMK_L_guillemot_left</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>public.kern1.@MMK_L_guillemot_right</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>public.kern1.@MMK_L_guillemotleft_uc</key>
	<array>
		<string>guilsinglleft.uc</string>
		<string>guillemotleft.uc</string>
	</array>
	<key>public.kern1.@MMK_L_guillemotright_uc</key>
	<array>
		<string>guilsinglright.uc</string>
		<string>guillemotright.uc</string>
	</array>
	<key>public.kern1.@MMK_L_i</key>
	<array>
		<string>itilde</string>
		<string>idotbelow</string>
		<string>iacute</string>
		<string>idieresisacute</string>
		<string>igrave</string>
		<string>icircumflex</string>
		<string>f_f_i</string>
		<string>fi</string>
		<string>fi.alt</string>
		<string>dotlessi</string>
		<string>iinvertedbreve</string>
		<string>ihookabove</string>
		<string>iogonek</string>
		<string>i</string>
		<string>idblgrave</string>
		<string>idotaccent</string>
		<string>f_f_i.alt</string>
		<string>f_i</string>
		<string>ihoi</string>
		<string>imacron</string>
		<string>icaron</string>
		<string>ibreve</string>
		<string>idieresis</string>
		<string>idotless</string>
	</array>
	<key>public.kern1.@MMK_L_j</key>
	<array>
		<string>jdotless</string>
		<string>eng</string>
		<string>jacute</string>
		<string>j</string>
		<string>f_f_j.alt</string>
		<string>f_j</string>
		<string>ij</string>
		<string>f_j.alt</string>
		<string>jcircumflex</string>
		<string>dotlessj</string>
		<string>f_f_j</string>
	</array>
	<key>public.kern1.@MMK_L_k</key>
	<array>
		<string>f_f_k.alt</string>
		<string>kcommaaccent</string>
		<string>k</string>
		<string>kgreenlandic</string>
		<string>f_f_k</string>
		<string>f_k</string>
	</array>
	<key>public.kern1.@MMK_L_l</key>
	<array>
		<string>f_f_l.alt</string>
		<string>f_l</string>
		<string>lcommaaccent</string>
		<string>l</string>
		<string>llinebelow</string>
		<string>lacute</string>
		<string>ldotbelow</string>
		<string>lslash</string>
		<string>fl</string>
		<string>f_f_l</string>
	</array>
	<key>public.kern1.@MMK_L_mark</key>
	<array>
		<string>servicemark</string>
		<string>trademark</string>
	</array>
	<key>public.kern1.@MMK_L_minute</key>
	<array>
		<string>second</string>
		<string>minute</string>
	</array>
	<key>public.kern1.@MMK_L_n</key>
	<array>
		<string>nacute</string>
		<string>f_h</string>
		<string>hbrevebelow</string>
		<string>ndotbelow</string>
		<string>ndotaccent</string>
		<string>f_f_h</string>
		<string>h</string>
		<string>m</string>
		<string>hdotbelow</string>
		<string>n</string>
		<string>ntilde</string>
		<string>ncommaaccent</string>
		<string>hcircumflex</string>
		<string>ncaron</string>
		<string>hbar</string>
		<string>mdotbelow</string>
		<string>nacute.pl</string>
		<string>f_f_h.alt</string>
		<string>nlinebelow</string>
	</array>
	<key>public.kern1.@MMK_L_o</key>
	<array>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>ohookabove</string>
		<string>oinvertedbreve</string>
		<string>otildedieresis</string>
		<string>ocircumflexhookabove</string>
		<string>oacute.pl</string>
		<string>obreve</string>
		<string>ocircumflexgrave</string>
		<string>odotaccentmacron</string>
		<string>odotbelow</string>
		<string>omacrongrave</string>
		<string>otilde</string>
		<string>otildeacute</string>
		<string>f_f_b.alt</string>
		<string>odieresismacron</string>
		<string>odblgrave</string>
		<string>ocircumflextilde</string>
		<string>ocircumflexdotbelow</string>
		<string>schwa</string>
		<string>odieresis</string>
		<string>ohungarumlaut</string>
		<string>ocaron</string>
		<string>omacronacute</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>omacron</string>
		<string>b</string>
		<string>otildemacron</string>
		<string>f_b</string>
		<string>thorn</string>
		<string>o</string>
		<string>p</string>
		<string>f_f_b</string>
		<string>eth</string>
		<string>ocircumflexacute</string>
		<string>oogonek</string>
		<string>oacute</string>
	</array>
	<key>public.kern1.@MMK_L_ohorn</key>
	<array>
		<string>ohorntilde</string>
		<string>ohornacute</string>
		<string>ohorndotbelow</string>
		<string>ohorngrave</string>
		<string>ohornhookabove</string>
		<string>ohorn</string>
	</array>
	<key>public.kern1.@MMK_L_period</key>
	<array>
		<string>ellipsis</string>
		<string>comma</string>
		<string>period</string>
	</array>
	<key>public.kern1.@MMK_L_quotebase</key>
	<array>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>public.kern1.@MMK_L_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>public.kern1.@MMK_L_quoteright</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>public.kern1.@MMK_L_quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern1.@MMK_L_r</key>
	<array>
		<string>racute</string>
		<string>rdblgrave</string>
		<string>rcommaaccent</string>
		<string>rcaron</string>
		<string>rinvertedbreve</string>
		<string>rdotbelow</string>
		<string>r</string>
		<string>rlinebelow</string>
	</array>
	<key>public.kern1.@MMK_L_s</key>
	<array>
		<string>sdotbelowdotaccent</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>scedilla</string>
		<string>s</string>
		<string>scarondotaccent</string>
		<string>sdotbelow</string>
		<string>sacutedotaccent</string>
		<string>sdotaccent</string>
		<string>sacute.pl</string>
		<string>sacute</string>
		<string>scaron</string>
	</array>
	<key>public.kern1.@MMK_L_slash</key>
	<array>
		<string>slash.uc</string>
		<string>slash</string>
	</array>
	<key>public.kern1.@MMK_L_t</key>
	<array>
		<string>tdotbelow</string>
		<string>tbar</string>
		<string>tlinebelow</string>
		<string>tdieresis</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>t</string>
		<string>tcaron</string>
	</array>
	<key>public.kern1.@MMK_L_u</key>
	<array>
		<string>udieresis</string>
		<string>uhookabove</string>
		<string>umacron</string>
		<string>uhungarumlaut</string>
		<string>uacute</string>
		<string>uring</string>
		<string>ugrave</string>
		<string>udieresiscaron</string>
		<string>u</string>
		<string>udotbelow</string>
		<string>utildeacute</string>
		<string>utilde</string>
		<string>ucaron</string>
		<string>uinvertedbreve</string>
		<string>uogonek</string>
		<string>ucircumflex</string>
		<string>umacrondieresis</string>
		<string>ubreve</string>
		<string>udblgrave</string>
	</array>
	<key>public.kern1.@MMK_L_uhorn</key>
	<array>
		<string>uhorntilde</string>
		<string>uhornhookabove</string>
		<string>uhorngrave</string>
		<string>uhornacute</string>
		<string>uhorndotbelow</string>
		<string>uhorn</string>
	</array>
	<key>public.kern1.@MMK_L_w</key>
	<array>
		<string>wgrave</string>
		<string>wcircumflex</string>
		<string>w</string>
		<string>wdieresis</string>
		<string>wacute</string>
	</array>
	<key>public.kern1.@MMK_L_y</key>
	<array>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotbelow</string>
		<string>y</string>
		<string>yhookabove</string>
		<string>yacute</string>
		<string>ymacron</string>
		<string>ydotaccent</string>
		<string>ygrave</string>
		<string>ytilde</string>
	</array>
	<key>public.kern1.@MMK_L_z</key>
	<array>
		<string>zacute.pl</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>zacute</string>
		<string>z</string>
		<string>zdotbelow</string>
	</array>
	<key>public.kern2.@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Adblgrave</string>
		<string>Agrave</string>
		<string>Acircumflexdotbelow</string>
		<string>Aringacute</string>
		<string>Ahookabove</string>
		<string>Acircumflexacute</string>
		<string>Amacron</string>
		<string>Abreveacute</string>
		<string>Ainvertedbreve</string>
		<string>Atilde</string>
		<string>Adotbelow</string>
		<string>Acaron</string>
		<string>Aogonek</string>
		<string>Acircumflexhookabove</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>Aacute</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Abrevegrave</string>
		<string>Acircumflexgrave</string>
		<string>Abrevedotbelow</string>
		<string>Acircumflextilde</string>
		<string>Acircumflex</string>
		<string>Abreve</string>
	</array>
	<key>public.kern2.@MMK_R_AE</key>
	<array>
		<string>AE</string>
		<string>AEacute</string>
	</array>
	<key>public.kern2.@MMK_R_H</key>
	<array>
		<string>Racute</string>
		<string>Einvertedbreve</string>
		<string>Ndotbelow</string>
		<string>Ecaron.alt</string>
		<string>Hcircumflex</string>
		<string>Egrave</string>
		<string>Ihoi</string>
		<string>Dcaron</string>
		<string>Ntilde</string>
		<string>Eogonek.alt</string>
		<string>Nlinebelow</string>
		<string>Lacute</string>
		<string>Ibreve</string>
		<string>Dlinebelow</string>
		<string>Mdotbelow</string>
		<string>Emacron.alt</string>
		<string>Idotbelow</string>
		<string>Ecircumflexgrave.alt</string>
		<string>Ecircumflex</string>
		<string>Ecedillabreve</string>
		<string>Ecircumflexacute</string>
		<string>Hbrevebelow</string>
		<string>Ebreve</string>
		<string>Ndotaccent</string>
		<string>Edotbelow</string>
		<string>Ecircumflexhookabove.alt</string>
		<string>Idblgrave</string>
		<string>Eacute</string>
		<string>Etilde</string>
		<string>E</string>
		<string>B</string>
		<string>D</string>
		<string>F</string>
		<string>H</string>
		<string>Idotaccent</string>
		<string>Dcroat</string>
		<string>Edblgrave</string>
		<string>N</string>
		<string>Ehookabove</string>
		<string>Ncommaaccent</string>
		<string>R</string>
		<string>Ncaron</string>
		<string>Hbar</string>
		<string>Idieresis</string>
		<string>Nacute.pl</string>
		<string>Ecircumflexgrave</string>
		<string>Itilde</string>
		<string>Ecircumflexacute.alt</string>
		<string>Igrave</string>
		<string>Emacronacute</string>
		<string>Llinebelow</string>
		<string>Imacron</string>
		<string>Ecircumflextilde</string>
		<string>Ecircumflexdotbelow</string>
		<string>Iinvertedbreve</string>
		<string>Ecircumflexdotbelow.alt</string>
		<string>Emacrongrave.alt</string>
		<string>Kcommaaccent</string>
		<string>Eogonek</string>
		<string>Ihookabove</string>
		<string>Ehookabove.alt</string>
		<string>Eng</string>
		<string>Rlinebelow</string>
		<string>Rdotbelow</string>
		<string>Hdotbelow</string>
		<string>Emacronacute.alt</string>
		<string>Icaron</string>
		<string>Egrave.alt</string>
		<string>Ebreve.alt</string>
		<string>Lslash</string>
		<string>Rdblgrave</string>
		<string>L</string>
		<string>Iacute</string>
		<string>Ecircumflex.alt</string>
		<string>Lcaron</string>
		<string>Icircumflex</string>
		<string>Etilde.alt</string>
		<string>Rinvertedbreve</string>
		<string>Emacron</string>
		<string>Rcommaaccent</string>
		<string>Ldotbelow</string>
		<string>Thorn</string>
		<string>Ecaron</string>
		<string>Idieresisacute</string>
		<string>Edotaccent.alt</string>
		<string>I</string>
		<string>K</string>
		<string>Edieresis.alt</string>
		<string>M</string>
		<string>Edotbelow.alt</string>
		<string>Eacute.alt</string>
		<string>IJ</string>
		<string>Einvertedbreve.alt</string>
		<string>Ecircumflextilde.alt</string>
		<string>Eth</string>
		<string>Nacute</string>
		<string>P</string>
		<string>Lcommaaccent</string>
		<string>Rcaron</string>
		<string>Edieresis</string>
		<string>Ddotbelow</string>
		<string>Emacrongrave</string>
		<string>Iogonek</string>
		<string>Ecedillabreve.alt</string>
		<string>Edblgrave.alt</string>
		<string>Ldot</string>
		<string>Edotaccent</string>
		<string>Ecircumflexhookabove</string>
	</array>
	<key>public.kern2.@MMK_R_J</key>
	<array>
		<string>Jacute</string>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>public.kern2.@MMK_R_O</key>
	<array>
		<string>Ocircumflexgrave</string>
		<string>Odotaccentmacron</string>
		<string>Odotbelow</string>
		<string>Omacrongrave</string>
		<string>Ohorngrave</string>
		<string>Gmacron</string>
		<string>Otilde</string>
		<string>Otildeacute</string>
		<string>Ohorntilde</string>
		<string>Ocircumflex</string>
		<string>Gcircumflex</string>
		<string>Cacute.pl</string>
		<string>Ohorn</string>
		<string>Gcommaaccent</string>
		<string>Odblgrave</string>
		<string>Gdotaccent</string>
		<string>Ocircumflextilde</string>
		<string>Ocircumflexdotbelow</string>
		<string>Odieresis</string>
		<string>Ohungarumlaut</string>
		<string>Ocaron</string>
		<string>Cacute</string>
		<string>Ccedillaacute</string>
		<string>Gcaron</string>
		<string>Omacronacute</string>
		<string>Ccircumflex</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Omacron</string>
		<string>Otildemacron</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Ohornhookabove</string>
		<string>O</string>
		<string>Q</string>
		<string>Ccaron</string>
		<string>Ohorndotbelow</string>
		<string>Ocircumflexacute</string>
		<string>Oogonek</string>
		<string>Oacute</string>
		<string>Cdotaccent</string>
		<string>Ohornacute</string>
		<string>Ograve</string>
		<string>OE</string>
		<string>Ohookabove</string>
		<string>Oinvertedbreve</string>
		<string>Otildedieresis</string>
		<string>Ocircumflexhookabove</string>
		<string>Oacute.pl</string>
		<string>Obreve</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Odieresismacron</string>
	</array>
	<key>public.kern2.@MMK_R_S</key>
	<array>
		<string>Sdotbelowdotaccent</string>
		<string>Germandbls</string>
		<string>Scircumflex</string>
		<string>SS</string>
		<string>Scommaaccent</string>
		<string>Scedilla</string>
		<string>S</string>
		<string>Scarondotaccent</string>
		<string>Sdotbelow</string>
		<string>Sacutedotaccent</string>
		<string>Sacute.pl</string>
		<string>Sdotaccent</string>
		<string>Sacute</string>
		<string>Scaron</string>
	</array>
	<key>public.kern2.@MMK_R_T</key>
	<array>
		<string>Tdotbelow</string>
		<string>Tcommaaccent</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tlinebelow</string>
		<string>Tcedilla</string>
		<string>Tcaron</string>
	</array>
	<key>public.kern2.@MMK_R_U</key>
	<array>
		<string>Udieresiscaron</string>
		<string>Uhornacute</string>
		<string>Uhungarumlaut</string>
		<string>Utilde</string>
		<string>Uhorn</string>
		<string>Ucaron</string>
		<string>Uinvertedbreve</string>
		<string>Uogonek</string>
		<string>Umacrondieresis</string>
		<string>Uhornhookabove</string>
		<string>Ubreve</string>
		<string>Udblgrave</string>
		<string>Udieresis</string>
		<string>Uhookabove</string>
		<string>Umacron</string>
		<string>Uacute</string>
		<string>Uhorndotbelow</string>
		<string>Uhorntilde</string>
		<string>Uring</string>
		<string>Udotbelow</string>
		<string>Ugrave</string>
		<string>Uhorngrave</string>
		<string>U</string>
		<string>Ucircumflex</string>
		<string>Utildeacute</string>
	</array>
	<key>public.kern2.@MMK_R_W</key>
	<array>
		<string>Wgrave</string>
		<string>Wcircumflex</string>
		<string>W</string>
		<string>Wdieresis</string>
		<string>Wacute</string>
	</array>
	<key>public.kern2.@MMK_R_Y</key>
	<array>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Yhookabove</string>
		<string>Ydotbelow</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ymacron</string>
		<string>Ydotaccent</string>
		<string>Ygrave</string>
		<string>Ytilde</string>
	</array>
	<key>public.kern2.@MMK_R_Z</key>
	<array>
		<string>Zacute.pl</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Zacute</string>
		<string>Z</string>
		<string>Zdotbelow</string>
	</array>
	<key>public.kern2.@MMK_R_a</key>
	<array>
		<string>acircumflexhookabove</string>
		<string>acircumflexgrave</string>
		<string>ae</string>
		<string>abrevedotbelow</string>
		<string>acircumflexacute</string>
		<string>aacute</string>
		<string>abrevehookabove</string>
		<string>acircumflex</string>
		<string>abrevetilde</string>
		<string>abrevegrave</string>
		<string>a</string>
		<string>agrave</string>
		<string>acircumflextilde</string>
		<string>abreveacute</string>
		<string>adieresis</string>
		<string>abreve</string>
		<string>aeacute</string>
		<string>adblgrave</string>
		<string>aring</string>
		<string>acircumflexdotbelow</string>
		<string>aringacute</string>
		<string>ahookabove</string>
		<string>amacron</string>
		<string>ainvertedbreve</string>
		<string>atilde</string>
		<string>adotbelow</string>
		<string>acaron</string>
		<string>aogonek</string>
	</array>
	<key>public.kern2.@MMK_R_backslash</key>
	<array>
		<string>backslash</string>
		<string>backslash.uc</string>
	</array>
	<key>public.kern2.@MMK_R_braceright</key>
	<array>
		<string>bracketright</string>
		<string>braceright</string>
	</array>
	<key>public.kern2.@MMK_R_braceright_uc</key>
	<array>
		<string>bracketright.uc</string>
		<string>braceright.uc</string>
	</array>
	<key>public.kern2.@MMK_R_circle</key>
	<array>
		<string>registered</string>
		<string>Pcircle</string>
		<string>uni2117</string>
		<string>copyright</string>
	</array>
	<key>public.kern2.@MMK_R_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern2.@MMK_R_dash</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>figuredash</string>
	</array>
	<key>public.kern2.@MMK_R_dash.uc</key>
	<array>
		<string>endash.uc</string>
		<string>hyphen.uc</string>
		<string>emdash.uc</string>
	</array>
	<key>public.kern2.@MMK_R_f</key>
	<array>
		<string>f_f_l.alt</string>
		<string>f_f.alt</string>
		<string>f_f_b</string>
		<string>f_j.alt</string>
		<string>fi</string>
		<string>f_f_i</string>
		<string>f_f_h</string>
		<string>fi.alt</string>
		<string>f_f_j</string>
		<string>f_f.short</string>
		<string>f_f_k</string>
		<string>f_h</string>
		<string>f_f_k.alt</string>
		<string>f_f</string>
		<string>f_k</string>
		<string>f_b</string>
		<string>f</string>
		<string>fl</string>
		<string>f_f_i.alt</string>
		<string>f_f_j.alt</string>
		<string>f_i</string>
		<string>f_j</string>
		<string>f_f_l</string>
		<string>f_l</string>
		<string>f_f_b.alt</string>
		<string>f.short</string>
		<string>f_f_h.alt</string>
	</array>
	<key>public.kern2.@MMK_R_g</key>
	<array>
		<string>gdotaccent</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>g</string>
		<string>gmacron</string>
		<string>gcaron</string>
		<string>gcommaaccent</string>
	</array>
	<key>public.kern2.@MMK_R_g_alt</key>
	<array>
		<string>gcommaaccent.alt</string>
		<string>g.alt</string>
		<string>gdotaccent.alt</string>
		<string>gmacron.alt</string>
		<string>gcircumflex.alt</string>
		<string>gbreve.alt</string>
		<string>gcaron.alt</string>
	</array>
	<key>public.kern2.@MMK_R_guillemot_left</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>public.kern2.@MMK_R_guillemot_right</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>public.kern2.@MMK_R_guillemotleft_uc</key>
	<array>
		<string>guillemotleft.uc</string>
		<string>guilsinglleft.uc</string>
	</array>
	<key>public.kern2.@MMK_R_guillemotright_uc</key>
	<array>
		<string>guilsinglright.uc</string>
		<string>guillemotright.uc</string>
	</array>
	<key>public.kern2.@MMK_R_i</key>
	<array>
		<string>idotbelow</string>
		<string>idieresisacute</string>
		<string>iacute</string>
		<string>igrave</string>
		<string>icircumflex</string>
		<string>ij</string>
		<string>ihoi</string>
		<string>iinvertedbreve</string>
		<string>dotlessi</string>
		<string>ihookabove</string>
		<string>iogonek</string>
		<string>i</string>
		<string>idblgrave</string>
		<string>idotaccent</string>
		<string>itilde</string>
		<string>imacron</string>
		<string>icaron</string>
		<string>ibreve</string>
		<string>idieresis</string>
		<string>idotless</string>
	</array>
	<key>public.kern2.@MMK_R_j</key>
	<array>
		<string>dotlessj</string>
		<string>jacute</string>
		<string>jdotless</string>
		<string>j</string>
		<string>jcircumflex</string>
	</array>
	<key>public.kern2.@MMK_R_l</key>
	<array>
		<string>hbrevebelow</string>
		<string>lcommaaccent</string>
		<string>hdotbelow</string>
		<string>llinebelow</string>
		<string>ldotbelow</string>
		<string>ldot</string>
		<string>kcommaaccent</string>
		<string>b</string>
		<string>lcaron</string>
		<string>h</string>
		<string>k</string>
		<string>l</string>
		<string>lacute</string>
		<string>hcircumflex</string>
		<string>lslash</string>
		<string>hbar</string>
	</array>
	<key>public.kern2.@MMK_R_minute</key>
	<array>
		<string>second</string>
		<string>minute</string>
	</array>
	<key>public.kern2.@MMK_R_n</key>
	<array>
		<string>nacute</string>
		<string>nacute.pl</string>
		<string>ndotbelow</string>
		<string>rcaron</string>
		<string>rinvertedbreve</string>
		<string>r</string>
		<string>racute</string>
		<string>rdblgrave</string>
		<string>eng</string>
		<string>rcommaaccent</string>
		<string>kgreenlandic</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>ndotaccent</string>
		<string>ncommaaccent</string>
		<string>rdotbelow</string>
		<string>ncaron</string>
		<string>mdotbelow</string>
		<string>rlinebelow</string>
		<string>nlinebelow</string>
	</array>
	<key>public.kern2.@MMK_R_o</key>
	<array>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>oinvertedbreve</string>
		<string>edieresis</string>
		<string>ddotbelow</string>
		<string>ocircumflexhookabove</string>
		<string>oacute.pl</string>
		<string>obreve</string>
		<string>ccedilla</string>
		<string>emacrongrave</string>
		<string>ocircumflexgrave</string>
		<string>cacute.pl</string>
		<string>odotbelow</string>
		<string>omacrongrave</string>
		<string>ohorngrave</string>
		<string>otilde</string>
		<string>ccaron</string>
		<string>dcaron</string>
		<string>ohorntilde</string>
		<string>ohorn</string>
		<string>ocircumflextilde</string>
		<string>ecircumflex</string>
		<string>ecedillabreve</string>
		<string>odieresismacron</string>
		<string>cacute</string>
		<string>ccedillaacute</string>
		<string>omacronacute</string>
		<string>edotbelow</string>
		<string>ccircumflex</string>
		<string>dcroat</string>
		<string>ecaron</string>
		<string>omacron</string>
		<string>d</string>
		<string>emacronacute</string>
		<string>edblgrave</string>
		<string>ecircumflexhookabove</string>
		<string>ocircumflexacute</string>
		<string>cdotaccent</string>
		<string>ohornacute</string>
		<string>ohornhookabove</string>
		<string>ohookabove</string>
		<string>otildedieresis</string>
		<string>ecircumflexdotbelow</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>eogonek</string>
		<string>odotaccentmacron</string>
		<string>otildeacute</string>
		<string>oslash</string>
		<string>dlinebelow</string>
		<string>ocaron</string>
		<string>odblgrave</string>
		<string>ocircumflexdotbelow</string>
		<string>odieresis</string>
		<string>ohungarumlaut</string>
		<string>ecircumflextilde</string>
		<string>ecircumflexacute</string>
		<string>ebreve</string>
		<string>einvertedbreve</string>
		<string>emacron</string>
		<string>eacute</string>
		<string>etilde</string>
		<string>oslashacute</string>
		<string>c</string>
		<string>e</string>
		<string>otildemacron</string>
		<string>oe</string>
		<string>o</string>
		<string>q</string>
		<string>ehookabove</string>
		<string>ohorndotbelow</string>
		<string>eth</string>
		<string>oogonek</string>
		<string>ecircumflexgrave</string>
		<string>oacute</string>
	</array>
	<key>public.kern2.@MMK_R_percent</key>
	<array>
		<string>perthousand</string>
		<string>percent</string>
	</array>
	<key>public.kern2.@MMK_R_period</key>
	<array>
		<string>ellipsis</string>
		<string>comma</string>
		<string>period</string>
	</array>
	<key>public.kern2.@MMK_R_quotebase</key>
	<array>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>public.kern2.@MMK_R_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>public.kern2.@MMK_R_quoteright</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>public.kern2.@MMK_R_quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern2.@MMK_R_s</key>
	<array>
		<string>sdotbelowdotaccent</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>scedilla</string>
		<string>s</string>
		<string>scarondotaccent</string>
		<string>sdotbelow</string>
		<string>sacutedotaccent</string>
		<string>sacute.pl</string>
		<string>sdotaccent</string>
		<string>sacute</string>
		<string>scaron</string>
	</array>
	<key>public.kern2.@MMK_R_slash</key>
	<array>
		<string>slash.uc</string>
		<string>slash</string>
	</array>
	<key>public.kern2.@MMK_R_t</key>
	<array>
		<string>tdotbelow</string>
		<string>tbar</string>
		<string>tlinebelow</string>
		<string>tdieresis</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>t</string>
		<string>tcaron</string>
	</array>
	<key>public.kern2.@MMK_R_u</key>
	<array>
		<string>udieresis</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uhookabove</string>
		<string>uacute</string>
		<string>uhorndotbelow</string>
		<string>uring</string>
		<string>uhorntilde</string>
		<string>uhorngrave</string>
		<string>uhornhookabove</string>
		<string>udieresiscaron</string>
		<string>u</string>
		<string>uhornacute</string>
		<string>utildeacute</string>
		<string>utilde</string>
		<string>udotbelow</string>
		<string>ugrave</string>
		<string>uhorn</string>
		<string>ucaron</string>
		<string>uinvertedbreve</string>
		<string>uogonek</string>
		<string>ucircumflex</string>
		<string>umacrondieresis</string>
		<string>ubreve</string>
		<string>udblgrave</string>
	</array>
	<key>public.kern2.@MMK_R_w</key>
	<array>
		<string>wgrave</string>
		<string>wcircumflex</string>
		<string>w</string>
		<string>wdieresis</string>
		<string>wacute</string>
	</array>
	<key>public.kern2.@MMK_R_y</key>
	<array>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotbelow</string>
		<string>y</string>
		<string>yhookabove</string>
		<string>yacute</string>
		<string>ymacron</string>
		<string>ydotaccent</string>
		<string>ygrave</string>
		<string>ytilde</string>
	</array>
	<key>public.kern2.@MMK_R_z</key>
	<array>
		<string>zacute.pl</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>zacute</string>
		<string>z</string>
		<string>zdotbelow</string>
	</array>
</dict>
</plist>
