<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>eight.copy_2</key>
    <string>eight.copy_2.glif</string>
    <key>five.copy_2</key>
    <string>five.copy_2.glif</string>
    <key>four.copy_2</key>
    <string>four.copy_2.glif</string>
    <key>nine.copy_2</key>
    <string>nine.copy_2.glif</string>
    <key>one.copy_2</key>
    <string>one.copy_2.glif</string>
    <key>seven.copy_2</key>
    <string>seven.copy_2.glif</string>
    <key>six.copy_2</key>
    <string>six.copy_2.glif</string>
    <key>three.copy_2</key>
    <string>three.copy_2.glif</string>
    <key>two.copy_2</key>
    <string>two.copy_2.glif</string>
    <key>zero.copy_2</key>
    <string>zero.copy_2.glif</string>
  </dict>
</plist>
