<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>ascending</key>
        <array>
          <string>space</string>
          <string>A</string>
          <string>B</string>
          <string>C</string>
          <string>D</string>
          <string>E</string>
          <string>F</string>
          <string>G</string>
          <string>H</string>
          <string>I</string>
          <string>J</string>
          <string>K</string>
          <string>L</string>
          <string>M</string>
          <string>N</string>
          <string>O</string>
          <string>P</string>
          <string>Q</string>
          <string>R</string>
          <string>S</string>
          <string>T</string>
          <string>U</string>
          <string>V</string>
          <string>W</string>
          <string>X</string>
          <string>Y</string>
          <string>Z</string>
          <string>a</string>
          <string>b</string>
          <string>c</string>
          <string>d</string>
          <string>e</string>
          <string>f</string>
          <string>g</string>
          <string>h</string>
          <string>i</string>
          <string>j</string>
          <string>k</string>
          <string>l</string>
          <string>m</string>
          <string>n</string>
          <string>o</string>
          <string>p</string>
          <string>q</string>
          <string>r</string>
          <string>s</string>
          <string>t</string>
          <string>u</string>
          <string>v</string>
          <string>w</string>
          <string>x</string>
          <string>y</string>
          <string>z</string>
          <string>zero</string>
          <string>one</string>
          <string>two</string>
          <string>three</string>
          <string>four</string>
          <string>five</string>
          <string>six</string>
          <string>seven</string>
          <string>eight</string>
          <string>nine</string>
          <string>underscore</string>
          <string>hyphen</string>
          <string>parenleft</string>
          <string>parenright</string>
          <string>bracketleft</string>
          <string>bracketright</string>
          <string>braceleft</string>
          <string>braceright</string>
          <string>numbersign</string>
          <string>percent</string>
          <string>quotesingle</string>
          <string>quotedbl</string>
          <string>asterisk</string>
          <string>period</string>
          <string>comma</string>
          <string>colon</string>
          <string>semicolon</string>
          <string>exclam</string>
          <string>question</string>
          <string>slash</string>
          <string>backslash</string>
          <string>bar</string>
          <string>at</string>
          <string>ampersand</string>
          <string>plus</string>
          <string>equal</string>
          <string>less</string>
          <string>greater</string>
          <string>dollar</string>
          <string>asciicircum</string>
          <string>asciitilde</string>
          <string>grave</string>
        </array>
        <key>type</key>
        <string>glyphList</string>
      </dict>
    </array>
    <key>com.typemytype.robofont.guideline.magnetic.0lBl4otUuZ</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.1E13anYJoe</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.45FVyX7Qmc</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.DUvdnmF8yO</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.HNSxCot4rm</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.Q4NxanV7Mk</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.QEys22MIsb</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.VVO2h8cvnZ</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.nmw1lSXk4S</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.tTvY7wAX6b</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.showMeasurements.0lBl4otUuZ</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.1E13anYJoe</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.45FVyX7Qmc</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.DUvdnmF8yO</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.HNSxCot4rm</key>
    <true/>
    <key>com.typemytype.robofont.guideline.showMeasurements.Q4NxanV7Mk</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.QEys22MIsb</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.VVO2h8cvnZ</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.nmw1lSXk4S</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.tTvY7wAX6b</key>
    <false/>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>public.glyphOrder</key>
    <array>
      <string>space</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>underscore</string>
      <string>hyphen</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>numbersign</string>
      <string>percent</string>
      <string>quotesingle</string>
      <string>quotedbl</string>
      <string>asterisk</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>exclam</string>
      <string>question</string>
      <string>slash</string>
      <string>backslash</string>
      <string>bar</string>
      <string>at</string>
      <string>ampersand</string>
      <string>plus</string>
      <string>equal</string>
      <string>less</string>
      <string>greater</string>
      <string>dollar</string>
      <string>asciicircum</string>
      <string>asciitilde</string>
      <string>grave</string>
      <string>three.den</string>
      <string>five.den</string>
      <string>nine.den</string>
      <string>zero.linprop</string>
      <string>one.linprop</string>
      <string>two.linprop</string>
      <string>three.linprop</string>
      <string>four.linprop</string>
      <string>five.linprop</string>
      <string>six.linprop</string>
      <string>seven.linprop</string>
      <string>eight.linprop</string>
      <string>nine.linprop</string>
      <string>zero.lintab</string>
      <string>one.lintab</string>
      <string>two.lintab</string>
      <string>three.lintab</string>
      <string>four.lintab</string>
      <string>five.lintab</string>
      <string>six.lintab</string>
      <string>seven.lintab</string>
      <string>eight.lintab</string>
      <string>nine.lintab</string>
      <string>three.midprop</string>
      <string>five.midprop</string>
      <string>six.midprop</string>
      <string>eight.midprop</string>
      <string>nine.midprop</string>
      <string>zero.oldprop</string>
      <string>one.oldprop</string>
      <string>two.oldprop</string>
      <string>three.oldprop</string>
      <string>four.oldprop</string>
      <string>five.oldprop</string>
      <string>six.oldprop</string>
      <string>seven.oldprop</string>
      <string>eight.oldprop</string>
      <string>nine.oldprop</string>
      <string>three.oldtab</string>
      <string>five.oldtab</string>
      <string>six.oldtab</string>
      <string>eight.oldtab</string>
      <string>nine.oldtab</string>
      <string>zero.slash</string>
      <string>zero.slashlinprop</string>
      <string>slash.uc</string>
      <string>at.uc</string>
      <string>E.alt</string>
      <string>F.alt</string>
      <string>f.alt</string>
      <string>g.alt</string>
      <string>AE</string>
      <string>Eng</string>
      <string>Hbar</string>
      <string>Oslash</string>
      <string>Thorn</string>
      <string>ae</string>
      <string>bullet</string>
      <string>daggerdbl</string>
      <string>dcroat</string>
      <string>eng</string>
      <string>eth</string>
      <string>hbar</string>
      <string>oe</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>perthousand</string>
      <string>quoteright</string>
      <string>thorn</string>
      <string>AE.alt</string>
      <string>OE.alt</string>
    </array>
  </dict>
</plist>
