<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.alt</key>
    <string>E_.alt.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F.alt</key>
    <string>F_.alt.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>apostrophemod</key>
    <string>apostrophemod.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>backslash.uc</key>
    <string>backslash.uc.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>bar.uc</key>
    <string>bar.uc.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceleft.uc</key>
    <string>braceleft.uc.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>braceright.uc</key>
    <string>braceright.uc.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketleft.uc</key>
    <string>bracketleft.uc.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>bracketright.uc</key>
    <string>bracketright.uc.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>brokenbar.uc</key>
    <string>brokenbar.uc.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>bulletoperator</key>
    <string>bulletoperator.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaturnedmod</key>
    <string>commaturnedmod.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.linprop</key>
    <string>eight.linprop.glif</string>
    <key>eight.lintab</key>
    <string>eight.lintab.glif</string>
    <key>eight.midprop</key>
    <string>eight.midprop.glif</string>
    <key>eight.oldprop</key>
    <string>eight.oldprop.glif</string>
    <key>eight.oldtab</key>
    <string>eight.oldtab.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>emdash.uc</key>
    <string>emdash.uc.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>endash.uc</key>
    <string>endash.uc.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>exclamdown.uc</key>
    <string>exclamdown.uc.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.alt</key>
    <string>f.alt.glif</string>
    <key>f.short</key>
    <string>f.short.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.linprop</key>
    <string>five.linprop.glif</string>
    <key>five.lintab</key>
    <string>five.lintab.glif</string>
    <key>five.midprop</key>
    <string>five.midprop.glif</string>
    <key>five.oldprop</key>
    <string>five.oldprop.glif</string>
    <key>five.oldtab</key>
    <string>five.oldtab.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.linprop</key>
    <string>four.linprop.glif</string>
    <key>four.lintab</key>
    <string>four.lintab.glif</string>
    <key>four.midprop</key>
    <string>four.midprop.glif</string>
    <key>four.oldprop</key>
    <string>four.oldprop.glif</string>
    <key>four.oldtab</key>
    <string>four.oldtab.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.alt</key>
    <string>g.alt.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotleft.uc</key>
    <string>guillemotleft.uc.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>guillemotright.uc</key>
    <string>guillemotright.uc.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglleft.uc</key>
    <string>guilsinglleft.uc.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>guilsinglright.uc</key>
    <string>guilsinglright.uc.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>horizontalbar</key>
    <string>horizontalbar.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphen.uc</key>
    <string>hyphen.uc.glif</string>
    <key>hyphentwo</key>
    <string>hyphentwo.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.linprop</key>
    <string>nine.linprop.glif</string>
    <key>nine.lintab</key>
    <string>nine.lintab.glif</string>
    <key>nine.midprop</key>
    <string>nine.midprop.glif</string>
    <key>nine.oldprop</key>
    <string>nine.oldprop.glif</string>
    <key>nine.oldtab</key>
    <string>nine.oldtab.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.linprop</key>
    <string>one.linprop.glif</string>
    <key>one.lintab</key>
    <string>one.lintab.glif</string>
    <key>one.midprop</key>
    <string>one.midprop.glif</string>
    <key>one.oldprop</key>
    <string>one.oldprop.glif</string>
    <key>one.oldtab</key>
    <string>one.oldtab.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenleft.uc</key>
    <string>parenleft.uc.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>parenright.uc</key>
    <string>parenright.uc.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>periodcentered.loclCAT</key>
    <string>periodcentered.loclC_A_T_.glif</string>
    <key>periodcentered.loclCAT.uc</key>
    <string>periodcentered.loclC_A_T_.uc.glif</string>
    <key>periodcentered.uc</key>
    <string>periodcentered.uc.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>questiondown.uc</key>
    <string>questiondown.uc.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.linprop</key>
    <string>seven.linprop.glif</string>
    <key>seven.lintab</key>
    <string>seven.lintab.glif</string>
    <key>seven.midprop</key>
    <string>seven.midprop.glif</string>
    <key>seven.oldprop</key>
    <string>seven.oldprop.glif</string>
    <key>seven.oldtab</key>
    <string>seven.oldtab.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.linprop</key>
    <string>six.linprop.glif</string>
    <key>six.lintab</key>
    <string>six.lintab.glif</string>
    <key>six.midprop</key>
    <string>six.midprop.glif</string>
    <key>six.oldprop</key>
    <string>six.oldprop.glif</string>
    <key>six.oldtab</key>
    <string>six.oldtab.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>slash.uc</key>
    <string>slash.uc.glif</string>
    <key>softhyphen</key>
    <string>softhyphen.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.linprop</key>
    <string>three.linprop.glif</string>
    <key>three.lintab</key>
    <string>three.lintab.glif</string>
    <key>three.midprop</key>
    <string>three.midprop.glif</string>
    <key>three.oldprop</key>
    <string>three.oldprop.glif</string>
    <key>three.oldtab</key>
    <string>three.oldtab.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.linprop</key>
    <string>two.linprop.glif</string>
    <key>two.lintab</key>
    <string>two.lintab.glif</string>
    <key>two.midprop</key>
    <string>two.midprop.glif</string>
    <key>two.oldprop</key>
    <string>two.oldprop.glif</string>
    <key>two.oldtab</key>
    <string>two.oldtab.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.linprop</key>
    <string>zero.linprop.glif</string>
    <key>zero.lintab</key>
    <string>zero.lintab.glif</string>
    <key>zero.midprop</key>
    <string>zero.midprop.glif</string>
    <key>zero.oldprop</key>
    <string>zero.oldprop.glif</string>
    <key>zero.oldtab</key>
    <string>zero.oldtab.glif</string>
    <key>zero.propslash</key>
    <string>zero.propslash.glif</string>
    <key>zero.slash</key>
    <string>zero.slash.glif</string>
    <key>zero.slashlin</key>
    <string>zero.slashlin.glif</string>
    <key>zero.slashlinprop</key>
    <string>zero.slashlinprop.glif</string>
    <key>zero.slashold</key>
    <string>zero.slashold.glif</string>
    <key>zero.slasholdprop</key>
    <string>zero.slasholdprop.glif</string>
    <key>zero.zero</key>
    <string>zero.zero.glif</string>
  </dict>
</plist>
