<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>C.alt</string>
		<string>C.srf</string>
		<string>D</string>
		<string>E</string>
		<string>E.alt</string>
		<string>F</string>
		<string>F.alt</string>
		<string>G</string>
		<string>G.alt</string>
		<string>G.srf</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>J.alt</string>
		<string>K</string>
		<string>K.alt</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>Q.alt</string>
		<string>Q.alt2</string>
		<string>Q.alt4</string>
		<string>Q.alt5</string>
		<string>Q.alt6</string>
		<string>R</string>
		<string>S</string>
		<string>S.srf</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>W.alt</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>a.alt</string>
		<string>b</string>
		<string>c</string>
		<string>c.alt</string>
		<string>c.alt2</string>
		<string>colon</string>
		<string>comma</string>
		<string>d</string>
		<string>e</string>
		<string>eight</string>
		<string>ellipsis</string>
		<string>emdash</string>
		<string>endash</string>
		<string>exclam</string>
		<string>f</string>
		<string>f.alt</string>
		<string>f.alt.copy_1</string>
		<string>five</string>
		<string>five.alt</string>
		<string>five.alt2</string>
		<string>five.alt3</string>
		<string>five.old</string>
		<string>five.oldalt</string>
		<string>five.oldalt2</string>
		<string>four</string>
		<string>four.alt</string>
		<string>four.old</string>
		<string>four.oldalt</string>
		<string>g</string>
		<string>g.alt</string>
		<string>h</string>
		<string>hyphen</string>
		<string>i</string>
		<string>j</string>
		<string>j.alt</string>
		<string>k</string>
		<string>k.alt</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>nine</string>
		<string>o</string>
		<string>one</string>
		<string>one.alt</string>
		<string>one.old</string>
		<string>one.oldalt</string>
		<string>p</string>
		<string>period</string>
		<string>q</string>
		<string>question</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>r</string>
		<string>s</string>
		<string>s.alt</string>
		<string>s.srf</string>
		<string>semicolon</string>
		<string>seven</string>
		<string>seven.alt</string>
		<string>seven.alt2</string>
		<string>seven.old</string>
		<string>seven.oldalt</string>
		<string>seven.oldalt2</string>
		<string>six</string>
		<string>space</string>
		<string>t</string>
		<string>three</string>
		<string>three.old</string>
		<string>two</string>
		<string>two.alt</string>
		<string>two.old</string>
		<string>two.oldalt</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>zero</string>
		<string>zero.old</string>
	</array>
</dict>
</plist>
