<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>arrowdown</key>
    <string>arrowdown.glif</string>
    <key>arrowdownleft</key>
    <string>arrowdownleft.glif</string>
    <key>arrowdownright</key>
    <string>arrowdownright.glif</string>
    <key>arrowleft</key>
    <string>arrowleft.glif</string>
    <key>arrowright</key>
    <string>arrowright.glif</string>
    <key>arrowup</key>
    <string>arrowup.glif</string>
    <key>arrowupleft</key>
    <string>arrowupleft.glif</string>
    <key>arrowupright</key>
    <string>arrowupright.glif</string>
    <key>heartsuitwhite</key>
    <string>heartsuitwhite.glif</string>
    <key>uni25B5</key>
    <string>uni25B_5.glif</string>
    <key>uni25B9</key>
    <string>uni25B_9.glif</string>
    <key>uni25BF</key>
    <string>uni25B_F_.glif</string>
    <key>uni25C3</key>
    <string>uni25C_3.glif</string>
    <key>uni27F7</key>
    <string>uni27F_7.glif</string>
    <key>whitecircle</key>
    <string>whitecircle.glif</string>
    <key>whitediamond</key>
    <string>whitediamond.glif</string>
    <key>whitedownpointingtriangle</key>
    <string>whitedownpointingtriangle.glif</string>
    <key>whiteleftpointingtriangle</key>
    <string>whiteleftpointingtriangle.glif</string>
    <key>whiterightpointingtriangle</key>
    <string>whiterightpointingtriangle.glif</string>
    <key>whitesquare</key>
    <string>whitesquare.glif</string>
    <key>whitetriangle</key>
    <string>whitetriangle.glif</string>
    <key>whiteuppointingtriangle</key>
    <string>whiteuppointingtriangle.glif</string>
  </dict>
</plist>
