<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.alt</key>
	<string>E_.alt.glif</string>
	<key>E.bulb</key>
	<string>E_.bulb.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.alt</key>
	<string>F_.alt.glif</string>
	<key>F.bulb</key>
	<string>F_.bulb.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.bulb</key>
	<string>L_.bulb.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.legalt</key>
	<string>R_.legalt.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.ball</key>
	<string>a.ball.glif</string>
	<key>a.bulb</key>
	<string>a.bulb.glif</string>
	<key>a.fullball</key>
	<string>a.fullball.glif</string>
	<key>a.hori</key>
	<string>a.hori.glif</string>
	<key>a.oval</key>
	<string>a.oval.glif</string>
	<key>a.slab</key>
	<string>a.slab.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.ball</key>
	<string>f.ball.glif</string>
	<key>f.bulb</key>
	<string>f.bulb.glif</string>
	<key>f.fullball</key>
	<string>f.fullball.glif</string>
	<key>f.hori</key>
	<string>f.hori.glif</string>
	<key>f.oval</key>
	<string>f.oval.glif</string>
	<key>f.slab</key>
	<string>f.slab.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.alt</key>
	<string>g.alt.glif</string>
	<key>g.alt2</key>
	<string>g.alt2.glif</string>
	<key>g.alt3</key>
	<string>g.alt3.glif</string>
	<key>g.ball</key>
	<string>g.ball.glif</string>
	<key>g.bulb</key>
	<string>g.bulb.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.ball</key>
	<string>r.ball.glif</string>
	<key>r.bulb</key>
	<string>r.bulb.glif</string>
	<key>r.fullball</key>
	<string>r.fullball.glif</string>
	<key>r.hori</key>
	<string>r.hori.glif</string>
	<key>r.oval</key>
	<string>r.oval.glif</string>
	<key>r.slab</key>
	<string>r.slab.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s.ball</key>
	<string>s.ball.glif</string>
	<key>s.bulb</key>
	<string>s.bulb.glif</string>
	<key>s.fullball</key>
	<string>s.fullball.glif</string>
	<key>s.hori</key>
	<string>s.hori.glif</string>
	<key>s.oval</key>
	<string>s.oval.glif</string>
	<key>s.slab</key>
	<string>s.slab.glif</string>
	<key>s.slabalt</key>
	<string>s.slabalt.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>u</key>
	<string>u.glif</string>
</dict>
</plist>
