body {
	background-color: white;
	padding: 10px;
	margin: 0px;
	font-family: Courier;
	font-feature-settings: "liga", "kern";
	font-variation-settings: "wght" 300, "grad" 5; 
}

.grade1 { font-variation-settings: "wght" 300, "grad" 1; }
.grade2 { font-variation-settings: "wght" 300, "grad" 2; }
.grade3 { font-variation-settings: "wght" 300, "grad" 3; }
.grade4 { font-variation-settings: "wght" 300, "grad" 4; }
.grade5 { font-variation-settings: "wght" 300, "grad" 5; }
.grade6 { font-variation-settings: "wght" 300, "grad" 6; }
.grade7 { font-variation-settings: "wght" 300, "grad" 7; }
.grade8 { font-variation-settings: "wght" 300, "grad" 8; }
.grade9 { font-variation-settings: "wght" 300, "grad" 9; }
.grade10 { font-variation-settings: "wght" 300, "grad" 10; }



.header {
	left: 0;
	top: 0;
	width: 100%;
	padding: 10px;
	position: fixed;
	background-color: #60B6FF;

  display: grid;
  grid-template-columns: 100px 20px 300px 40px auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
	justify-items: start;
  align-items: stretch;

}

/* Slider */
.slider {
	-webkit-appearance: none;
	appearance: none;
	height: 10px;
	width: 300px;
	border-radius: 5px;   
	background: #cccccc;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

/* Slider Mouse-over */
.slider:hover { opacity: 1; }

/* Slider Dot */ 
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 18px;
	height: 18px;
	border-radius: 50%; 
	background: #111111;
}

.slider_value {
	padding-left: 6px;
	border: 1px solid black;
	width : 40px;
}


/* 3 column container */

.three_column {
	padding: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
/*   grid-column-gap: 10px; */
  grid-gap: 10px;
	justify-items: start;
  align-items: stretch;
}

.black_on_white {
	color: white;
	background-color: black;
}


/* static grades */

.container_static_grades {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 10px;
  grid-gap: 10px;
	justify-items: start;
  align-items: start;
}

.static_grades_text {
	overflow: hidden;
	width: 900px;
	height: 300px;
}


/* waterfall container */

.container_waterfall {
  display: grid;
  grid-template-columns: 30px auto;
  grid-column-gap: 10px;
  grid-gap: 10px;
	justify-items: start;
  align-items: center;
}

.waterfall_text {
/* 	text-overflow: clip; */
	overflow: hidden;
	width: 900px;
	height: 300px;
}


.size60 { font-size:60px; line-height: 64px; }
.size48 { font-size:48px; line-height: 50px; }
.size42 { font-size:42px; line-height: 46px; }
.size36 { font-size:36px; line-height: 38px; }
.size30 { font-size:30px; line-height: 34px; }
.size24 { font-size:24px; line-height: 30px; }
.size18 {	font-size:18px; line-height: 26px; }
.size16 { font-size:16px; line-height: 24px; }
.size14 { font-size:14px; line-height: 22px; }
.size13 { font-size:13px; line-height: 19px; }
.size12 { font-size:12px; line-height: 18px; }
.size11 { font-size:11px; line-height: 17px; }
.size10 { font-size:10px; line-height: 16px; }
.size09 { font-size: 9px; line-height: 15px; }
