
	
@font-face {
	font-family: "RobotoSerifText8Grades";
	src: url("RobotoSerifTextGradesWeight8Grades190211-VF.woff2") format("woff2"),
		     url("RobotoSerifTextGradesWeight8Grades190211-VF.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	}

@font-face {
	font-family: "RobotoSerifText10Grades";
	src: url("RobotoSerifTextGradesWeight10Grades190211-VF.woff2") format("woff2"),
		     url("RobotoSerifTextGradesWeight10Grades190211-VF.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	}



.RobotoSerifText8Grades {
    font-family: "RobotoSerifText8Grades";
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

.RobotoSerifText10Grades {
    font-family: "RobotoSerifText10Grades";
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
