<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.oldtab</key>
    <string>eight.oldtab.glif</string>
    <key>f.alt</key>
    <string>f.alt.glif</string>
    <key>five.linprop</key>
    <string>five.linprop.glif</string>
    <key>five.lintab</key>
    <string>five.lintab.glif</string>
    <key>four.linprop</key>
    <string>four.linprop.glif</string>
    <key>four.lintab</key>
    <string>four.lintab.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.alt</key>
    <string>g.alt.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.linprop</key>
    <string>nine.linprop.glif</string>
    <key>nine.lintab</key>
    <string>nine.lintab.glif</string>
    <key>nine.oldtab</key>
    <string>nine.oldtab.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>one.linprop</key>
    <string>one.linprop.glif</string>
    <key>one.lintab</key>
    <string>one.lintab.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>seven.linprop</key>
    <string>seven.linprop.glif</string>
    <key>seven.lintab</key>
    <string>seven.lintab.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.linprop</key>
    <string>six.linprop.glif</string>
    <key>six.lintab</key>
    <string>six.lintab.glif</string>
    <key>six.oldtab</key>
    <string>six.oldtab.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.linprop</key>
    <string>three.linprop.glif</string>
    <key>three.lintab</key>
    <string>three.lintab.glif</string>
    <key>three.oldtab</key>
    <string>three.oldtab.glif</string>
    <key>two.linprop</key>
    <string>two.linprop.glif</string>
    <key>two.lintab</key>
    <string>two.lintab.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero.lintab</key>
    <string>zero.lintab.glif</string>
    <key>zero.oldtab</key>
    <string>zero.oldtab.glif</string>
  </dict>
</plist>
